[2014-10-18 18:09] pamidur opened #1 "Cleanup IDisposable aspects"

[2014-10-18 18:12] pamidur opened #2 "Support Async Methods as Target"

[2014-10-18 18:13] pamidur opened #3 "Support Code-Contracts"
Since AI modifies assembly before Code contracts, we have to inject code after code contracts notions

[2014-12-23 10:34] pamidur opened #4 "Importing Events and Properties from another assebly doesn't work"

[2014-12-23 14:34] #4 closed, assigned to pamidur

[2015-01-20 21:48] YuriyIvon opened #5 "Error at cleaning up references to the Broker assembly"
InvalidCastException: Unable to cast object of type 'Mono.Cecil.GenericInstanceMethod' to type 'Mono.Cecil.TypeReference'.
at AspectInjector.BuildTask.Processors.ModuleProcessors.Janitor.IsInstructionReferencesBroker(Instruction instruction)
at System.Linq.Enumerable.Any[TSource](IEnumerable`1 source, Func`2 predicate)
at AspectInjector.BuildTask.Processors.ModuleProcessors.Janitor.IsMethodBodyRef

[2015-01-20 21:49] YuriyIvon opened #6 "Correctly support generator methods (yield return) as a target"

[2015-01-25 08:46] YuriyIvon commented on #5
Fixed in 0.9.1

[2015-01-25 08:46] #5 closed

[2015-02-06 12:12] xandraele opened #7 "[BUG] Compilation Error if use Aspect from another Portable Library .dll"
Steps to reproduce:
1. Create portable .dll
2. Move TraceAspect there.
3. Create Console App. with TestClass
4. Link portable .dll to Console App
5. Mark TestClass with attribute [Aspect(typeof(TraceAspect))]
6. Try to compile.

Error	2	InvalidCastException: Unable to cast object of type 'Mono.Cecil.TypeReference' to type 'Mono.Cecil.TypeDefinition'.
   at AspectInjector.BuildTask.Processors.Modul

[2015-02-06 13:01] pamidur commented on #7
Thank you for the report.

[2015-02-06 16:08] pamidur commented on #7
Fixed in 0.9.2 https://github.com/pamidur/aspect-injector/releases/tag/0.9.2

[2015-02-06 16:08] #7 closed

[2015-02-07 08:13] xandraele commented on #7
Thanks. It was really quick. Good job!

[2015-02-08 09:15] xandraele opened #8 "[BUG] There is NullReferenceException if use Aspect with generic types"
Steps to reproduce:
1. Create portable library .dll and TraceAspect within
2. Create 4.5 framework .dll with generic class TestClass<T>
3. Use [Aspect(typeof(TraceAspect))] for TestClass<T>

Error	1	NullReferenceException: Object reference not set to an instance of an object.
   at AspectInjector.BuildTask.Extensions.TypeExtensions.IsTypeOf(TypeReference typeReference1, TypeReference typeReference

[2015-02-08 15:31] pamidur commented on #8
Thank you xandraele!
Fixed in 0.9.21, https://github.com/pamidur/aspect-injector/releases/tag/0.9.21

[2015-02-08 15:31] #8 closed

[2015-02-08 15:35] pamidur opened #9 "Support for generic aspects"
[Aspect(typeof(Logger<LogToFileProvider>))]

[2015-02-09 10:32] xandraele opened #10 "[BUG] There is Exception if you try to set Aspect to class which is inherited from generic one"
Steps to reproduce:
1. Create generic class BaseClass<T>
2. Create another ConcreteClass and inherit from BaseClass<T>
3. Create ctor in ConcreteClass and use base ctor as well
4. Mark ConcreteClass with [Aspect(typeof(TraceAspect))]

Error	202	Exception: Cannot find base class ctor call
   at AspectInjector.BuildTask.Extensions.MemberExtensions.FindBaseClassCtorCall(MethodDefinition md)
   at Asp

[2015-02-09 11:26] xandraele opened #11 "[BLOCKER] MissingMethodException: Method not found: ....TraceAspect.TraceBefore()'."
Show stopper in version AspectInjector 0.9.21
Has been checked at:
Console Application
MVC Application

[2015-02-09 12:36] xandraele opened #12 "[BUG] There is ArgumentOutOfRangeException if Release compilation plan is selected"
In Debug mode code builds just fine and work.
See class which causes exception below:

Error	202	ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: target
   at Mono.Cecil.Cil.ILProcessor.InsertBefore(Instruction target, Instruction instruction)
   at AspectInjector.BuildTask.Contexts.TargetMethodContext.SetupSingleReturnPoint(Instruction suggeste

[2015-02-09 12:58] pamidur commented on #11
We definitely need new tests on it)

[2015-02-09 13:01] xandraele commented on #12
If OptimizeCode is unchecked works in Release mode as well

[2015-02-09 22:23] YuriyIvon commented on #11
Fixed and added one more test

[2015-02-09 22:37] #11 closed

[2015-02-10 12:00] xandraele opened #13 "[BUG] There is ArgumentException during compilation in version 0.9.30"
Error	202	ArgumentException: Member 'System.Exception' is declared in another module and needs to be imported
   at Mono.Cecil.MetadataBuilder.LookupToken(IMetadataTokenProvider provider)
   at Mono.Cecil.SignatureWriter.WriteTypeSignature(TypeReference type)
   at Mono.Cecil.SignatureWriter.WriteMethodSignature(IMethodSignature method)
   at Mono.Cecil.MetadataBuilder.GetMemberRefSignature(Member

[2015-02-10 12:04] pamidur commented on #13
Could you provide a sample code please?

[2015-02-10 12:06] pamidur commented on #13
Btw, I am glad you keep trying using Aspect Injector, we were lack of new projects that could reveal existing problems. Thank you!

[2015-02-10 12:30] xandraele commented on #13
Actually I don't know where exactly the exception occurs. It gives me the name of project only. Anyway that exception rises in all project where I use Aspect attribute. Version 0.9.2 is more stable for now.

[2015-02-10 12:47] #12 closed

[2015-02-10 12:47] #10 closed

[2015-02-10 12:49] pamidur commented on #13
Do you have a System.Exception as a method parameter elsewhere?

[2015-02-10 15:15] pamidur commented on #13
Hope it fixed in https://github.com/pamidur/aspect-injector/releases/tag/0.9.31
Could you check it out please?

[2015-02-10 15:15] pamidur commented on #10
fixed in https://github.com/pamidur/aspect-injector/releases/tag/0.9.31

[2015-02-10 15:16] pamidur commented on #12
fixed in https://github.com/pamidur/aspect-injector/releases/tag/0.9.31

[2015-02-10 15:23] pamidur commented on #1
We need to discuss it. It could be done if target is disposable and aspect scope is instance. Right?

[2015-02-10 15:25] pamidur commented on #2
@YuriyIvon put here those links on how ilspy guys did that, pls

[2015-02-11 14:11] xandraele commented on #13
Fixed. Great work. Now it seems as the most stable version. Thanks a lot.

[2015-02-11 16:10] pamidur commented on #13
Thank you for all those reports

[2015-02-11 16:10] #13 closed

[2015-02-11 16:10] pamidur commented on #13
Reported fixed in https://github.com/pamidur/aspect-injector/releases/tag/0.9.31

[2015-02-11 17:40] YuriyIvon commented on #2
Here it is: http://community.sharpdevelop.net/blogs/danielgrunwald/archive/2012/04/16/decompiling-async-await.aspx

[2015-02-11 17:58] YuriyIvon commented on #1
Right, I would even disable setting scope "Class" for aspects with IDisposable interface. Apart from that, we will have to inject IDisposable interface and its implementation automatically to targets not having it. If Dispose() already exists, it may happen that calls to aspect methods were injected into it, so we have to do the cleanup only after those methods were called.

[2015-02-15 06:40] SimonCropp opened #14 "Consider also shipping a fody addin?"
Looks like this would work well as a fody weaver https://github.com/Fody/Fody

Would you consider also shipping the functionality as a fody extension?

[2015-03-10 10:33] pamidur commented on #14
I don't see the way it can be done. These projects are somewhat opposite. Fody extends assembly via imperative code while AspectInjector does via declarative attributes. AspectInjector allows to debug aspects while Fody does not.

[2015-04-24 08:45] kalarani opened #15 "Not working with Visual Studio"
The aspect injector does not kick in when i build from VisualStudio. It works when I run msbuild from command line. I see the following statements in console.

"Assembly has been loaded"
"Assembly has been patched"
"Assembly has been written"

But, when i build it from VS, I don't see these lines and the aspect injector attribute doesn't work. Am i missing something here?

[2015-04-30 07:56] pamidur commented on #15
Sorry for delay. What version of VS you use?

[2015-04-30 14:45] kalarani commented on #15
It is VS Ultimate 2013

[2015-05-02 17:34] pamidur commented on #15
Could you please share code (solution, csproj, cs)?

[2015-05-05 12:05] kalarani commented on #15
Hi, this seems to be a glitch. It works now. Thanks!

[2015-05-05 12:05] #15 closed

[2015-05-05 12:28] pamidur commented on #15
Thank you!

[2015-07-11 05:25] deresh-andrew opened #16 "Support of AdviceArgument(some of AdviceArgumentSource) in ctor or AspectFactoryAttribute of aspect"
Currently there is no other way to get AdviceArgumentSource.Instance (please correct me if I'm wrong) except of using [AdviceArgument(AdviceArgumentSource.Instance)] in [Advice(InjectionPoints.Before, InjectionTargets.Setter)] (or similar). This creates an overhead because it is passed every time Advice is called and it is the same(instance value cannot be changed). My suggestion is to allow using

[2015-07-11 05:28] deresh-andrew commented on #16
P.S. This is very nice project, I'm really fond of it. Free PostSharp alternative) I don't get why there are so many neutral or negative comments on http://habrahabr.ru/post/246469/

[2015-07-11 06:17] YuriyIvon commented on #16
Thank you for the feedback!

As for the "instance" source - it should work everywhere. In our tests we have the following:
    internal class AdviceInjectionBeforeTests_BeforeConstructorAspect
    {
        [Advice(InjectionPoints.Before, InjectionTargets.Constructor)]
        public void BeforeConstructor([AdviceArgument(AdviceArgumentSource.Instance)] object instance)
        {
            if (i

[2015-07-11 08:35] pamidur commented on #16
Yuriy, I guess that Andrew meant that if we have a advice per instance there is no point to pass that instance every time injected method called. He suggests to have a ability to get the instance in advice's constructor. Which could be done by changing AspectFactoryAttribute or allowing ArgumentSource in advice's constructor.

[2015-07-11 10:06] deresh-andrew opened #17 "Make TargetValue (former TargetReturnValue) contain oldvalue ( getter(); ) for InjectionTargets.Setter"
This can be easily done via reflection, but it requires extra overhead for each new instance. As far as I understand, if this is done the same way as the others AdviceArgumentSource, there will be now overhead. For InjectionTargets.Getter return both Getter and Setter MethodInfo. Same for InjectionTargets. Add and InjectionTargets.EventRemove.

Some use case: implement INotifyPropertyChanged and c

[2015-07-11 10:16] pamidur commented on #17
I got the idea. Need to think how it can be done.

[2015-07-11 10:59] pamidur commented on #17
Agreed to rename TargetReturnValue to TargetValue and use it for old value on setter. Scope changed to 1.0

[2015-07-11 11:56] deresh-andrew commented on #16
Thanks for yours replies. @pamidur - that is exactly my point. If Aspect is applied to the property (in case of INPC), not class,  [Advice(InjectionPoints.Before, InjectionTargets.Constructor)] is not called. As an alternative I can suggest call [Advice(InjectionPoints.Before, InjectionTargets.Constructor)] when non-class aspect (e.g. InjectionTargets.Setter) is applied.
Sample class when  [Advice

[2015-07-11 16:50] pamidur commented on #16
We could support ArgumentSource.Instance and ArgumentSource.TargetArguments in advice's constructor. Will it work with DI ?

We also could always inject InjectionTargets.Constructor? Will it make all architecture inconsistent?

Option c) - Implement InjectionTargets.Init which will always be injected into for such scenario

[2015-07-11 16:56] pamidur opened #18 "Support custom Attributes i.g. [Aspect(typeof(NotifyAdvicesClass))] ==> [NotifyThis]"
And replace custom data like this:
[code]

[2015-07-11 18:20] pamidur commented on #18
Done

[2015-07-11 18:20] #18 closed

[2015-07-11 18:28] pamidur commented on #14
When you have any idea about the way it can be done - reopen this issue please.

[2015-07-11 18:28] #14 closed

[2015-07-11 19:24] #17 closed

[2015-07-11 19:46] pamidur commented on #18
Done in 0.9.4

[2015-07-11 19:46] pamidur commented on #17
Release in 0.9.4

[2015-08-04 06:24] suresh-s opened #19 "Visual Studio 2015 - AspectInjector - PdbDebugException issue"
We are using AspectInjector Version 0.9.41 in our portal class library (Targets .NET Framework 4.5+ Windows 8 + Windows Phone 8.1 + Windows Phone Silverlight 8) and Windows phone 8.0 Silverlight app.

Visual Studio 2013 compiles the Solution without any build error.

Visual Studio 2015 compiles the Solution with following errors with Stacktrace

Error PdbDebugException: Unknown custom metadata ite

[2015-08-04 09:21] pamidur commented on #19
Thank you for the report. Will take a look asap

[2015-08-04 10:11] pamidur commented on #19
fixed in 0.9.42

[2015-08-04 10:11] #19 closed

[2015-08-04 11:03] suresh-s commented on #19
Thank you,  I have tested 0.9.42.  It is working fine now in VS2015

[2015-08-04 11:16] pamidur commented on #19
good to know, thank you!

[2015-08-04 13:24] kazachis4e opened #20 "Aspects not work with static members"
I trying to mark my static methods by aspect - its not work. On non-static members its work fine. Its bug or i something missing?

[2015-08-04 14:11] pamidur commented on #20
Thank you for the report. Could you please provide sample code?

[2015-08-04 14:33] kazachis4e commented on #20
public class MyAspect
    {
        [Advice(InjectionPoints.Before, InjectionTargets.Method)]
        public void AspectMethodRealization()
        {
            Console.WriteLine("Aspect Works!!!");
        }
    }

[Aspect(typeof(MyAspect))]
    public static class MyStatic
    {
        public static void StaticTest()
        {
            Console.WriteLine("Static Test");
        }
    }

clas

[2015-08-04 21:54] pamidur commented on #20
fixed in 0.9.43

[2015-08-04 21:54] #20 closed

[2015-08-05 06:58] suresh-s commented on #19
Before we used AspectInjector 0.9.31 version, it hase Enum value AdviceArgumentSource.TargetReturnValue, Version 0.9.42 doesn't have TargetReturnValue.  It has only TargetValue.  Could we use AdviceArgumentSource.TargetValue instead of AdviceArgumentSource.TargetReturnValue? Both are same?

[2015-08-05 07:06] YuriyIvon commented on #19
We renamed TargetReturnValue to TargetValue while implementing solution to the issue #17. So yes, please use TargetValue, it will work correctly.

[2015-08-05 09:04] kazachis4e opened #21 "InvalidProgramException at calling static method with AdviceArgumentSource.Instance attribute"
[code]

System.InvalidProgramException with message "Common Language Runtime detected an invalid program." appears at 'MyStatic.StaticTest();' line. If remove parameter 'object instance' from AspectMethodRealization() - all good.

In my case i need to read CustomAttributes of target method. Also i need to detect IsPublic or IsPrivate properties of target method (method can be static or non-static,

[2015-08-05 09:50] pamidur commented on #21
Thanks for the report. Although I can reproduce this issue I don't have a full picture of the way it should be fixed.
So if you have instance of non-static class - you get it via AdviceArgumentSource.Instance
But What is supposed to be returned in case of static class? Null? Exception?
typeof(non-static-class) would a bit inconsistent here. wouldn't it?
Any thoughts ?

[2015-08-05 10:50] kazachis4e commented on #21
I think in static case Instance must return null, not Exception. But in this case too little information about static method. So in my opinion there is two options:
    1. Add new AdviceArgumentSource property, e.g. TargetMethod, with MathodBase (or MethodInfo) type. If aspect marked with InjectionTargets.Method (and may be  InjectionTargets.Constructor) - fill this property. In another InjectionT

[2015-08-05 11:00] pamidur commented on #21
The point is that retrieving MemberInfo has huge performance impact because of runtime reflection. And TargetName is well known in compile time. May be we could leave both TargetName and TargetMember. So in case of property TargetName would be "SomeProperty" and TargetMember would be memberinfo of set_SomeProperty.
Though there is one requirement - stick with portable subset of .net

[2015-08-05 11:49] pamidur commented on #21
Fixed in 0.9.44.
I made it return null when member is static and instance is requested.
I also added new AdviceArgumentSource.Type so can access target type now. I guess you can handle retrieving member-infos with AdviceArgumentSource.Type + AdviceArgumentSource.TargetName for now.

I'll also create an improvement issue on backlog about something like AdviceArgumentSource.TargetMember. I hope we w

[2015-08-05 11:49] #21 closed

[2015-08-05 11:52] pamidur opened #22 "Implement AdviceArgumentSource.Method"
So one can get MethodInfo.
The main point here that TargetName returns "PropertyName" but not "set_PropertyName" which could be useful

[2015-08-05 12:40] kazachis4e commented on #21
Very big thanks!!! Now this project completely satisfied my requirements )

[2015-08-12 12:25] forcewake opened #23 "Multiply CustomAspects on one target"
First of all - thank you for the library - it is great alternative for PostSharp.
But I have one question about the implementation of the CustomAspect's feature - is it possible to use several attributes on the target?

For example:

**TestAspectAttribute** source code:
[code]
**TestAspectImplementation**
[code]
**TestClass**
[code]

And in the decompiled sources we've got:
[code]

Could you pleas

[2015-08-12 12:49] antbann commented on #3
Would you please comment on status of this issue - are there plans of fixing this? We've faced with it in our project. Thanks in advance for responce!

[2015-08-12 14:09] pamidur commented on #23
It is not possible now. But it should I believe. So I leave this issue as improvement and implement it nearest release(s)

Thanks for using aspect injector!
________________________________
Від: Pavel Nosovich<mailto:notifications@github.com>
Надіслано: ‎12.‎08.‎2015 15:25
Кому: pamidur/aspect-injector<mailto:aspect-injector@noreply.github.com>
Тема: [aspect-injector] Multiply CustomAspects on one

[2015-08-12 14:15] pamidur commented on #3
We didn't know if there was any project uses both code contracts and aspectinjector :)

You've just escalated its importance. Will take a look in a few days.
________________________________
Від: antbann<mailto:notifications@github.com>
Надіслано: ‎12.‎08.‎2015 15:49
Кому: pamidur/aspect-injector<mailto:aspect-injector@noreply.github.com>
Копія: Alexander Guly<mailto:agulyj@live.com>
Тема: Re: [as

[2015-08-23 23:19] Albeoris opened #24 "Add AbortFlag to Exception InjectionPoint"
It should be possible to suppress the exception after handling.

[code]

[2015-08-31 19:13] YuriyIvon commented on #24
We are working on a new feature of Aspect Injector - InjectionPoints.Around, which will give more flexibility for wrapping existing methods. The idea is that your advice method will accept a parameter with a delegate to original method, and body of the original target method will be "replaced" with the body of your advice method. In you particular example you'll be able to wrap a call to original

[2015-09-01 00:30] Albeoris commented on #24
Sounds great! When can I touch it?

[2015-09-08 21:29] pamidur commented on #24
I'm in the process of moving to another city at the moment. So my guess would be in few weeks.

[2015-09-17 12:34] pamidur commented on #24
I'm working on Around Injection now

[2015-09-17 12:34] #24 closed

[2015-09-17 14:22] pamidur commented on #23
fixed in async branch. will close after merge

[2015-09-25 13:13] forcewake commented on #23
Wow! Great. @pamidur, could you please say when we will see this fix in the nuget?

[2015-09-25 13:29] pamidur commented on #23
Unfortunately it depends on another task that hasn't been finished yet. So answer is when async support is done.

[2015-11-04 19:54] Albeoris commented on #24
Do you have any news?

[2015-11-04 21:01] pamidur commented on #24
I'm working on it now. But unfortunately I can't provide you with ETA.

[2016-01-26 14:26] pairbit opened #25 "AdviceArgumentSource.TargetArguments not working in static methods"
![Error](https://cloud.githubusercontent.com/assets/1288091/12583050/cc3b9a7e-c451-11e5-99f7-4f2d1537e9a2.png)

![Resolve](https://cloud.githubusercontent.com/assets/1288091/12582993/6e36516c-c451-11e5-95a9-45097a3fc1d6.png)

[2016-01-26 15:46] pamidur commented on #25
Thank you! I'll fix that in async branch and than merge it to master.

[2016-01-27 12:56] pairbit opened #26 "Fix boxing unboxing result for Around reafure"
![Error](https://cloud.githubusercontent.com/assets/1288091/12613917/ba8e14fc-c50d-11e5-8f81-bd0900c1130f.png)

![Resolve](https://cloud.githubusercontent.com/assets/1288091/12614039/74aa68a4-c50e-11e5-81aa-55b75dc501d2.png)

[2016-01-27 13:32] pairbit opened #27 "Issue passing ref and out params with AdviceArgumentSource.TargetArguments"
![Warning](https://cloud.githubusercontent.com/assets/1288091/12614836/5083e61c-c513-11e5-939c-32a203a0fa01.png)

![Result](https://cloud.githubusercontent.com/assets/1288091/12614809/338071f2-c513-11e5-9e48-b34a34158ea5.png)

![Wrong](https://cloud.githubusercontent.com/assets/1288091/12614860/6a4ab742-c513-11e5-9261-53104923812b.png)

![Resolve](https://cloud.githubusercontent.com/assets/1288091

[2016-01-28 11:07] pamidur commented on #26
Thanks. I'll take care of it

[2016-01-28 11:15] pamidur commented on #27
It is expected behavior. This way you can examine out params for instance. Does it confuse? What do you think?

[2016-01-28 11:26] Pzixel commented on #27
I agree that this behaviour is expected. If variables was changed within a method, when I trace variables before exit I expect that I will actual values, not values that was passed in it.

[2016-01-28 12:13] pairbit commented on #27
I agree with you, but the ref and out parameters, now is not working.

![2016-01-28_1458](https://cloud.githubusercontent.com/assets/1288091/12644099/89a9b426-c5d1-11e5-9afc-11f268c2641e.png)
![2016-01-28_1501](https://cloud.githubusercontent.com/assets/1288091/12644101/8de1a63e-c5d1-11e5-94b7-89edc4454611.png)

[2016-01-28 12:32] pamidur commented on #27
Ok, now it looks like a bug.

[2016-01-28 12:51] pamidur commented on #22
Done in async branch

[2016-01-28 12:51] #22 closed

[2016-01-28 12:52] pamidur commented on #25
done in async branch

[2016-01-28 12:52] #25 closed

[2016-01-28 12:54] pamidur commented on #23
I'll close it now. I believe it is about week until async support release

[2016-01-28 12:54] #23 closed

[2016-01-28 13:03] pamidur commented on #16
I think we can support
[code]

[2016-01-28 13:11] pairbit opened #28 "[NEW FEATURE] Add AdviceArgumentSource.Tag"
For example:

[code]

[2016-01-28 13:14] pamidur commented on #6
How we can support it? We can't guarantee that "After" would ever get executed. It IS ok in terms of c# standards. Is it ok in terms of AOP?

[2016-01-28 13:27] pamidur commented on #28
That could work if those tag(s) would be persistent within the call. It can be done by introdusing something like additional local variables. Though it won't be thread-safe. (additional locks is evil).

In the next release we're introdusing the following feature:
[code]

[2016-01-28 13:32] pairbit commented on #28
Great, I'll wait!

[2016-01-28 13:32] #28 closed

[2016-02-01 23:15] pamidur opened #29 "Add ordering possibilities"
The fact is compiler doesn't necessary have to put attributes into an assembly in order they are stated in the code.
The issue is there. Especially in release configuration.

We might introduce Order parameter into AspectAttribute. Don't know what to do with custom attributes though. What is your opinion?

[2016-02-01 23:57] pamidur commented on #2
done in 1.0.0-beta1

[2016-02-01 23:57] #2 closed

[2016-02-02 13:31] forcewake commented on #29
Dear @pamidur
I think that it will be nice to have this feature.
Imagine that you have created Feature Toggle system which is based on AOP.
You will use several custom attributes on one method or even class - so the order of the attributes will be helpful as for me. It will make possible to turn on or turn off some functionality based on current system's state.

[2016-02-03 14:39] forcewake opened #30 "Remove information about the aspect-injector from stack trace"
For example PostSharp itself does not add the stack trace - it is very helpful during reading logs from the application.

But aspect-injector doesn't hide this unnecessary information, I mean:
![image](https://cloud.githubusercontent.com/assets/1325702/12785307/f79b31ce-ca9c-11e5-86d0-52a0a9c1cdf8.png)

[2016-02-05 12:35] pairbit opened #31 "[BUG] InjectionPoints.Around is not working in static method"
[code]

An unhandled exception of type 'System.InvalidProgramException' occurred in ConsoleApplication1.exe

Additional information: JIT Compiler encountered an internal limitation

[2016-02-05 13:10] pairbit opened #32 "[BUG] Debugging is not working properly with InjectionPoints.Around"
Video:

1. [Incorrect order of method calls](http://screencast.com/t/eTgM6eILP)
2. [Doesn't break in breakpoint](http://screencast.com/t/U5WBgEDw)

[2016-02-05 13:50] pairbit opened #33 "[BUG] AdviceArgumentSource.Method is not working"
1) Build error - NotSupportedException: Cannot resolve type of System.Reflection.MethodInfo

[code]

2) Type of variable "MethodInfo" is not correct, because constructor returns "MethodBase"

[code]
![Result](https://cloud.githubusercontent.com/assets/1288091/12849078/bbf5ab3e-cc2e-11e5-9d10-028e835ebd0a.png)

[2016-02-05 19:20] pamidur commented on #33
Thanks. It should be MethodBase for sure.

[2016-02-05 19:23] pamidur commented on #32
It is strange. It should be like that definitely.
Could you please upload compiled assembly somewhere? (dropbox?)

[2016-02-05 19:24] pamidur commented on #31
Thanks for the reports again :)

[2016-02-05 19:27] pamidur commented on #30
We can definitely hide it from debug session, though I'm not quite sure it is possible with stacktrace without direct modification of it.
Will sacrifice performance for cleaner stacktrace?

[2016-02-07 10:28] #33 closed

[2016-02-07 13:28] #26 closed

[2016-02-07 13:28] #31 closed

[2016-02-07 14:49] #32 closed

[2016-02-08 11:29] pairbit opened #34 "[BUG] InjectionPoints.Around is not working with InjectionTargets.Constructor"
Error: An unhandled exception of type 'System.TypeLoadException' occurred in mscorlib.dll

Source:
[code]

Compiled source:
[code]

[2016-02-08 12:03] pairbit opened #35 "[BUG] AdviceArgumentSource.Method contains an invalid value in InjectionPoints.Around"
Source:

[code]
Result:

![2016-02-08_1500](https://cloud.githubusercontent.com/assets/1288091/12885163/be64a6ac-ce74-11e5-9ab2-1adfb94404a1.png)

Compiled source:

[code]

[2016-02-08 13:43] pairbit commented on #28
Why do you think that it will not be thread-safe?

[2016-02-08 13:54] pairbit commented on #30
You must take into account that the methods will not work properly with InjectionPoints.Around:

1. MethodBase.GetCurrentMethod
2. Assembly.GetCallingAssembly
3. new StackTrace()

Source ClassLibrary1:
[code]
Source ConsoleApplication1:
[code]
Result:
![2016-02-08_1652](https://cloud.githubusercontent.com/assets/1288091/12887304/755f50b4-ce84-11e5-8dd0-51e24308658d.png)

[2016-02-08 15:03] pamidur commented on #28
Because we would set custom local variable on the same context as method. I can't guarantee you will get the same type you setup itno tag in case method is being executed two times in perallel. Unless I force lock the method.

[2016-02-18 06:38] Albeoris commented on #35
Also, the call of GetMethodFromHandle reduces performance.

[2016-03-03 10:41] pberggreen opened #36 "Static methods causes a runtime error"
If I put an aspect on a static method I get the following runtime error when the method is called:
"Common Language Runtime detected an invalid program"

I am using version 0.9.44

[2016-04-08 03:15] nicholaspei commented on #35
@Albeoris whether the call of GetMethodFromHandle  is  a  serious performance problem?

[2016-04-08 06:32] pamidur commented on #35
Performance is the same as for GetTypeFromHandle which is typeof(). I believe it is not a serious issue.

[2016-04-17 19:21] YuriyIvon commented on #36
Please share the method signature and aspect definition

[2016-04-18 11:39] pberggreen commented on #36
The following code uses the default TraceAspect.
It fails on the call to StaticTest() with a "Common Language Runtime detected an invalid program." exception.
If you remove the Aspect attribute on StaticTest() it runs fine.
The same thing happens if I put the Aspect attribute on the MainWindow class.

    public partial class MainWindow : Window
    {
        public MainWindow()
        {

[2016-04-18 19:11] YuriyIvon commented on #34
Unfortunately it is not possible to implement "around" advices for constructors. If you need "around" for constructors, you can implement a factory method instead.

[2016-04-18 19:11] #34 closed

[2016-04-18 19:37] YuriyIvon commented on #36
Thanks, I have managed to reproduce the issue - it occurs if the same aspect is applied both to static and non-static methods in the same class. We will start working on the fix.

[2016-04-20 20:00] YuriyIvon commented on #36
I've pushed the fix, it will be available in the nearest release

[2016-05-01 08:58] Imjamshid opened #37 "Custom Attribute definition is failed outside assembly"
"AspectDefinition" is an internal class definition, then how could I get this class for creating custom Attribute in the "outside assembly"  ?

I used following test case for creating custom attribute.

https://github.com/pamidur/aspect-injector/blob/1.0.0-beta1/AspectInjector.Tests/CustomAttributes/CustomAttributesTests.cs

[2016-05-01 14:17] pamidur commented on #37
AspectDefinitionAttribute is the class you are looking for

[2016-05-02 11:35] Imjamshid commented on #37
Yes, I looking for "AspectDefinition" attribute. Let me know, what is the namespace..

[2016-05-02 16:28] pamidur commented on #37
AspectInjector.Broker.AspectDefinitionAttribute

[2016-05-31 22:03] lcrescenzo opened #38 "Error when ctor call : this()"
Exception error:

Exception: Cannot find base class ctor call
   at AspectInjector.BuildTask.Extensions.MemberExtensions.FindBaseClassCtorCall(MethodDefinition md)
   at AspectInjector.BuildTask.Contexts.TargetMethodContext.SetupEntryPoints()
   at AspectInjector.BuildTask.Contexts.TargetMethodContext..ctor(MethodDefinition targetMethod)
   at AspectInjector.BuildTask.Contexts.MethodContextFactory

[2016-06-22 13:14] om2804 commented on #38
Hmm. The author had disappeared?
Bugfix in https://github.com/pamidur/aspect-injector/pull/39

[2016-06-22 14:16] pamidur commented on #38
I'm not :)

[2016-06-22 14:27] pamidur commented on #38
fixed in b6dc9bed2580a983c0abd088e571b16c9e693bf1

[2016-06-22 14:27] #38 closed

[2016-06-22 14:29] pamidur commented on #37
Does it help?

[2016-06-22 14:29] #37 closed

[2016-06-22 14:32] #36 closed

[2016-06-22 14:35] om2804 commented on #38
Nice!
I wait Nuget-packet :)

[2016-06-22 14:49] pamidur opened #40 "Serialize and keep aspect information in dll resources"
That will enable to use defined aspects later and make build task flow easier

[2016-06-23 08:18] #35 closed

[2016-06-24 02:30] lcrescenzo commented on #38
nice tks

This component works with Mef?

[2016-06-24 07:55] pamidur commented on #38
I suppose it does. Need to check. You could either build project on your own or wait for nuget package beta-2 (only one bug left for beta-2) :)

[2016-07-05 12:37] pamidur commented on #27
fixed in beta2

[2016-07-05 12:37] #27 closed

[2016-07-05 12:57] pamidur opened #41 "[Refactoring] Make injections lazy"
In order to have more control over injections we need to make them lazy (via Func provided)

[2016-08-16 12:46] workerclass opened #42 ""base" equals "this" in overriden method"
I have two classes: Base and Child. There is a method in Base that's overriden in Child and that has an Around aspect. Overriden method calls base implementation, but it calls himself instead resulting in StackOverflow exception.
`base.GetType() == this.GetType()` returns `true`

[2016-08-16 21:09] YuriyIvon commented on #42
Thanks for the report, potentially there might be other side-effects with around aspects and virtual functions. We will analyze all possible issues to provide a reliable solution.

[2016-08-17 20:58] YuriyIvon commented on #42
I was not able to reproduce StackOverflow issue using a simple example:
[code]

I'm a getting correct result when executing this code, though there are some redundant "override" attributes on generated methods which doesn't have corresponding virtual functions in the parent class. That should be fixed, but currently I have no idea how that can lead to the stack overflow issue.

As for base.GetType

[2016-08-17 21:10] workerclass commented on #42
You need to add [Aspect(typeof(TraceAspect))] to Parent class too to get the exception. (Microsoft .NET 4.5.2)

[2016-08-18 06:05] YuriyIvon commented on #42
I have found the root cause, will publish a fix by tomorrow

[2016-08-30 18:59] amartincer opened #43 "Inject aspect on abstract methods"
This is a great project. Is simple but powerful. There is a feature that maybe you should consider. If I define a class with an abstract method decorated with an Aspect attribute, I'd like to all implementations of that method should have the aspect injected inside his code. I tested this with 1.0.0-beta3.

[2016-08-31 19:38] pamidur commented on #43
Thank you for your feedback! Your idea is great, however we need to find a correct way to implement it. You see that currently we cannot guarantee that your sub-class is in project that references AspectInjector. Therefore we can't guarantee that this sub-class is compiled with aspect injector. We might introduce another attribute that you need to decorate your sub-class with in order for it to in

[2016-08-31 19:50] pamidur commented on #42
Fixed in 1.0.0-beta4

[2016-08-31 19:50] #42 closed

[2016-09-13 09:06] workerclass opened #44 "Problem with generics"
This code fails with "Unhandled Exception: System.BadImageFormatException: An attempt was made to load a program with an incorrect format."

[code]

[2016-09-13 10:12] pamidur commented on #44
Thanks for the report. We'll take a look shortly. Meanwhile could you please cleanup your solution and try again please? It seems like not aspect-inject related issue, if it was it would rather load and fail in runtime.

[2016-09-13 10:18] pamidur commented on #44
@workerclass, not needed to re-check. The bug is there.

[2016-09-13 11:21] workerclass commented on #44
A slightly different code gives a less cryptic exception: `"Unhandled Exception: System.InvalidOperationException: Could not execute the method because either the method itself or the containing type is not fully instantiated."`

[code]

[2016-09-16 09:43] pamidur commented on #44
It'[s definitely a bug of generic type import. We'll address it soon.

[2016-10-12 12:45] AlexanderButs opened #46 "Mono compatibility"
Hi.

Trying to use Your library on linux with mono. Created simple aspect and trying to compile project with xbuild. Got next error on build stage:

Aspect Injector has started for TestAspectInjector.exe
Assembly has been loaded
Assembly has been patched
Assembly has been written
: error : Error building target AfterCompile: Exception has been thrown by the target of an invocation.
Done building p

[2016-10-13 10:25] pamidur commented on #46
Hello,

It hasn't been verified against mono yet. It would help if you specify mono version you use.

Thank you.

[2016-10-13 11:56] AlexanderButs commented on #46
mono version 3.12.0 is used.

[2016-10-15 08:15] pamidur commented on #46
Ok, I found the issue. MSbuild concatenates path chunk using `\` and not platform specific delimiter. We'll fix it soon.
Thank you for the report.

[2016-10-15 14:52] pamidur commented on #46
Ok, delimiter has nothing to do with it. xbuild for some reason returns wrong sdk path. So for unix I set sn tool to be always just 'sn' which works well because proper sn tool is linked as /usr/bin/sn.

Changes will take place on next package release, until then you can replace *AspectInjector.props* and *AspectInjector.targets*

[2016-10-15 15:01] #46 closed

[2016-11-07 15:28] b4barnett opened #47 "Compilation issue when not providing a getter when injecting around a property setter"
I have an aspect that is set up to inject before a property setter, I've found that I get the below compilation issue if I only provide a setter on the property. The compilation issue goes away when a getter is provided.

AspectInjector.0.9.44\build\AspectInjector.targets(5,5): error :    at AspectInjector.BuildTask.Contexts.TargetMethodContext.get_MethodResultVariable()
AspectInjector.0.9.44\buil

[2016-11-12 15:52] kongres opened #48 "Net Core support"
Hi.

I'm investigating your library. It looks like very flexible solution for AOP.

I've tried to use it in Net Core projects but it doesn't look to work.

1) I just created empty console app based on Net Core.
2) Added your lib and changed Framework to 4.6.1 in project.json:
[code]
3) Added test code:

[code]

It doesn't show any errors but in console is nothing. The same sample work in previous

[2016-11-13 23:04] YuriyIvon commented on #47
Could you try the same with the most recent pre-release version? I couldn't reproduce it with the most recent code. There were many changes since the last release, so it should be already fixed.

[2016-11-13 23:06] YuriyIvon commented on #48
Thanks for the report, we will investigate the issue.

[2016-11-14 09:05] b4barnett commented on #47
Yes error does not occur in pre-release,

Thanks

[2016-11-14 09:05] #47 closed

[2016-11-14 10:09] pamidur commented on #48
Hello,
Since Microsoft announced they are going to abandon project.json and get back to (significantly modified) .csproj instead; we need to wait a little and see where they come. Until then I don't think it is possible to have bullet-proof support for .NETCore . However if anyone come up with a good workaround I'm all ears!

[2016-11-17 20:10] pamidur opened #49 "Make Janitor's CompilationExceptions point to Instruction"
now in case a method references a type from broker - we fire
[code]
instead we need to point to exact line of code, like this
[code]

[2016-11-17 20:52] pamidur opened #50 "Is Aspect's scope configured on AdviceHostType level?"
[code]

So we force scope on advice level? What if my *TargetClass* is static?

[2016-11-22 12:30] GVI-Dev3 opened #51 "Could not execute the method because either the method itself or the containing type is not fully instantiated."
Hi, i found this issue when working with static method in a Generic function.
This is my class model:
[code]

[2016-11-22 12:43] pamidur commented on #51
Thank you for report. Would you mind providing aspect code itself?

[2016-11-22 12:50] GVI-Dev3 commented on #51
Yes, this is my sample code:
https://www.dropbox.com/s/980j7vcg4did3zu/ConsoleApplication2.zip

[2016-11-23 11:03] pamidur commented on #51
#44 seem to be the same

[2016-11-23 11:05] pamidur commented on #51
Yes, it is definitely a duplicate of #44

[2016-11-23 11:05] #51 closed

[2016-11-29 14:26] om2804 opened #52 "Not throw TaskCanceledException"
Version 1.0.0-beta4
I'm test this code:
[code]

Console output:
[code]
Must be:
[code]

[2016-11-29 16:29] pamidur commented on #52
Thank you! I'll be fixing it.

The continuations action should process cancellations and exceptions

[code]
+ SetException
+ SetCanceled

[2017-01-19 10:44] pamidur commented on #50
Scope to be configured on aspect level, only aspect knows what it can handle. Aspect can be either global or per instance

[2017-01-19 10:44] #50 closed

[2017-01-19 10:44] pamidur commented on #48
Will be supported in future versions. But vs2017 is required.

[2017-02-07 11:01] pamidur commented on #6
Implementation: find all ret in MoveNext() the if false - execute aspects

[2017-02-23 07:05] om2804 commented on #52
:(

[2017-02-23 08:49] pamidur commented on #52
Sorry I've made you wait :(
We had to review all the the codebase due to serious issue with Generics and unpredictable behavior. This issue is fixed now in 'refactoring' branch, though no build yet.
P.s. You will find a lot of breaking changes there, but they are for the best. Check tests for examples.

[2017-04-18 12:16] pamidur commented on #52
Fixed in https://github.com/pamidur/aspect-injector/releases/tag/1.0.0-rc1

[2017-04-18 12:16] #52 closed

[2017-04-18 12:17] pamidur commented on #49
done in https://github.com/pamidur/aspect-injector/releases/tag/1.0.0-rc1

[2017-04-18 12:17] #49 closed

[2017-04-18 12:17] pamidur commented on #48
we support NetCore on vs2017 (new csproj) in https://github.com/pamidur/aspect-injector/releases/tag/1.0.0-rc1

[2017-04-18 12:17] #48 closed

[2017-04-18 12:18] pamidur commented on #44
fixed in https://github.com/pamidur/aspect-injector/releases/tag/1.0.0-rc1

[2017-04-18 12:18] #44 closed

[2017-04-18 12:18] pamidur commented on #41
some what done in https://github.com/pamidur/aspect-injector/releases/tag/1.0.0-rc1

[2017-04-18 12:18] #41 closed

[2017-04-18 12:18] pamidur commented on #40
done in https://github.com/pamidur/aspect-injector/releases/tag/1.0.0-rc1

[2017-04-18 12:18] #40 closed

[2017-04-18 12:19] pamidur commented on #6
done in https://github.com/pamidur/aspect-injector/releases/tag/1.0.0-rc1

[2017-04-18 12:19] #6 closed

[2017-04-18 12:21] pamidur opened #54 "Make aspect cache point to classes and methods by name"
Now we are using MetadataToken which might be incorrect.

[2017-04-18 12:21] pamidur opened #55 "Add more samples"
subj

[2017-04-18 12:41] pamidur opened #56 "Speed up startup"
Agruments parsing is really slow

[2017-04-18 12:44] pamidur opened #57 "Update and Move Reference to Wiki pages"
Reference is outdated. We need to update it and move to Wiki pages

[2017-04-18 13:23] om2804 commented on #52
Yeah! Thx

[2017-04-18 13:28] pamidur commented on #52
@om2804, could you please test the new release on your specific cases and let us know if it works as intended?

[2017-04-19 06:17] om2804 opened #58 "Don't build solution with 1.0.0-rc1"
VS2017, .NetFramework 4.5.2, AspectInjector 1.0.0-rc1 (only installed Nuget-package, don't use)

Error:
`выход из команды ""c:\users\UserName\desktop\documents\visual studio 2017\Projects\AspectInjectorTest\packages\AspectInjector.1.0.0-rc1\build\aspectinjector.cli.exe" process -f "c:\users\UserName\desktop\documents\visual studio 2017\Projects\AspectInjectorTest\AspectInjectorTest\obj\Debug\Aspec

[2017-04-19 09:31] pamidur commented on #58
Thank you!
Found a root of the issue. The code was pretty sure that you have defined at least one aspect. I event haven't tested it without aspects.

[2017-04-19 09:34] #58 closed

[2017-04-19 11:11] pamidur opened #59 "Improve cmd help system and execution flow. Preserve speed!"
After removing CommnadLineParser (which was slow) there is a need improve overall cmd help experience and error handling. But keep it as fast as possible.

[2017-04-19 11:11] pamidur commented on #56
Still need some work #59

[2017-04-19 11:11] #56 closed

[2017-04-28 12:08] pamidur opened #60 "Migrate to MonoCecil 0.10"
subj,
investigation required

[2017-05-03 09:32] pamidur commented on #60
Ok, this is (was) a Mono.Cecil [issue](https://github.com/jbevain/cecil/issues/282). I'll take a look into new *-beta version of Mono.Cecil in order to adopt it asap, though it has a lot of breaking changes.

[2017-06-02 06:26] byeswanth opened #61 "How to pass My own custom attributes like some number or name etc . Sample needed"

[2017-06-02 07:17] pamidur commented on #61
Create your own attribute, put it onto Method/Property/Class. And then retrieve those in Advice using Reflection. Advice.Argument.Source.Type and Advice.Argument.Source.Method may help you.

Let us add this case in samples in some future.

[2017-10-17 06:46] drony opened #63 "Aspect Injector doesn't work in Library"
Aspect Injector doesn't work in Library and referenced to another executable.
generate error like this:

[code]

`Severity	Code	Description	Project	File	Line	Suppression State
Error		The command ""C:\T\TOS.CLI\packages\AspectInjector.1.0.0-rc2\build\aspectinjector.cli.exe" process "C:\T\TOS.CLI\TOS.Plugin.TOS.CLI.Web\obj\Debug\TOS.Plugin.TOS.CLI.Web.dll" "C:\T\TOS.CLI\packages\Antlr.3.5.0.2\lib\An

[2017-10-17 07:13] pamidur commented on #63
Hi, thank for report. It has something to do with method lookup in external assembly. I had a feeling that that piece of code isn't polished well . Would you mind to provide a sample?

[2017-10-18 08:22] drony commented on #63
ok i got this. problem is, if aspect doesnt contains default constructor give this error.

[2017-10-18 08:22] drony opened #64 "How to eclude Specific Methods"
How to eclude Specific Methods

[2017-10-18 08:25] pamidur commented on #63
In fact an aspect should contain parameterless constructor. We need to add proper validation and error message on compilation.

[2017-10-18 08:26] pamidur commented on #64
Please add an example.

[2017-10-18 08:32] drony commented on #64
**[inject(typeof(LogginAspect))]`**
 public class IntegrationBoyteksService : IIntegration
    {

       **[SkipAspect]** // there is a builtin function for this. or can handle manualy
        public bool SendShipment(ServiceIntegrationShipment shipment, out ServiceMessage message)
        {
            message = new ServiceMessage();

            return false;
        }

        public ServiceInt

[2017-10-18 08:37] drony commented on #64
and Can i use in namespace or module base

[2017-10-18 08:43] pamidur commented on #64
There used to be such things as "Injection filter" in betas, but not anymore. However you can do It manually
1. Define your own attribute
2. Get Advice.Argument.Source.Method in your advice
3. Check if attribute is applied and act accordingly.

You can use ```[assembly:Inject()]``` in order to apply to everything in the assembly

[2017-10-18 08:43] drony commented on #64
thanks so much. you are great and i like this aspect library

[2017-10-25 12:47] drony opened #65 "How to pass parameter to Aspect?"
[Aspect(Aspect.Scope.Global)]
    public class LoggingAspect
    {
        public IAspectLogger Logger { get; private set; }

        public bool DebugPurpose { get; set; }

        public LoggingAspect()
        {

        }

        public LoggingAspect(IAspectLogger logger, bool debugPurpose = false)
        {
            Logger = logger;

            DebugPurpose = debugPurpose;
        }

[2017-10-26 11:25] MrVerifit commented on #65
Check issue #61, that may help you

[2017-10-26 12:08] pamidur commented on #65
[code]

[2018-02-26 13:05] drony opened #66 "Any news for .Net Core Project Compability?"
Any news for .Net Core Project Compability?

[2018-02-26 13:23] pamidur commented on #66
Hi,
It is compatible with .NET Core. There is a branch - mono-cecil-10-migration, it contains working code for mono-cecil-10 which supports .NET Core. However mono-cecil-10 is still in beta so there is no ready-for-something build avaliable. You can build it on your own.

[2018-02-26 16:07] drony commented on #66
I'm traying for s couple hours, unfortunately I could not work :( any sample?

[2018-03-06 06:58] Dreamescaper commented on #66
@pamidur
Would it be possible to create a pre-release nuget package from that branch?

[2018-03-31 22:16] emkhsh opened #67 "Is there a way to make advice inline?"
Hi, I think it is making advice code inline with methods is very useful option.
is there a chance to see so?

[2018-03-31 22:30] pamidur commented on #67
Hi, do you mean MethodIplm - Inlining or something else?

Do you mind provide a code sample how you think it might work?

[2018-03-31 23:28] emkhsh commented on #67
Yes just like MethodIplm , But unfortunately I use .net 4.0 which has no inlining, is it possible to make it?

[2018-03-31 23:33] emkhsh commented on #67
for example
instead of  being like this

[code]

the code must be like this

[code]

[2018-04-01 08:52] pamidur commented on #67
Ok I got it. It will never be inlined explicitly. So you will always see those aspect methods calls in debugger for example. What you can do however, is to tell JIT try to aggressively inline when translating to native code by applying [MethodImpl] to your Advice Methods.

[2018-04-02 07:10] pamidur commented on #67
Just want to add the reason why:
Aspects has access to their class fileds, so they can share data. This means that making calls inline (in fact copying code to the target methods) means that we need to track and keep references to aspect class fields.
Another reason - inline prevents aspect debugging.

[2018-04-03 06:45] pamidur commented on #63
Should be fixed in 1.0.1

[2018-04-03 06:45] #63 closed

[2018-04-03 06:47] pamidur commented on #61
I'll it to samples and docs

[2018-04-03 06:47] #61 closed

[2018-04-03 06:48] pamidur commented on #59
Done in 1.0.1

[2018-04-03 06:48] #59 closed

[2018-04-03 09:25] pamidur commented on #66
@Dreamescaper I'm working on that

[2018-04-04 15:36] Dreamescaper commented on #64
Have a small question, if you don't mind.

Let's say I want to add simple logger to all the classes in the assembly, so I use [assembly:Inject()]. However, if my logging aspect is in same assembly, that leads to StackOverflowException, since my aspect methods are injected as well.

Is there any way to avoid that?

[2018-04-04 16:02] pamidur commented on #64
This is a very very good point. Aspect should not inject into itself disregard it's location. We should consider it a bug. Until fix arrives try to keep such aspects in other assemblies

[2018-04-04 16:05] pamidur opened #68 "Aspect should not inject into itself."
When aspect is defined in the same assembly where injection happens. It is possible for aspect to inject into itself.

[2018-04-04 16:06] pamidur commented on #68
See #64 For details

[2018-04-05 09:15] Dreamescaper commented on #68
How do you think, should it be injected into other aspects?
If yes - I suppose it will lead to same issue, but with two aspects

[2018-04-05 09:32] Dreamescaper commented on #68
Personally I can't imagine situation where I'd need to inject something into aspects.

I'm just trying to come up with best behavior for that.

If we prevent injection into aspects in all cases (probably, the easiest way) - what should be done with explicit attributes on aspects?
Throw error at build time? Or silently ignore?

[2018-04-05 09:44] pamidur commented on #68
Silently ignore - the easiest way. But I'd say ignore and throw warning at build time

[2018-04-08 09:58] YuriyIvon commented on #68
Added quick fix in e3f6a74b41c2372077231f41f361e4f9c4ea209a

[2018-04-13 17:48] drony opened #69 "How to handle asynchronous method on exit?"
How to handle asynchronous method on exit?

[2018-04-13 17:50] pamidur commented on #69
After advice works fine with async methods

[2018-04-23 08:45] pberggreen commented on #63
Hi, I am trying to upgrade to version 1.0.1, but I get this error.
Should this error have been fixed in version 1.0.1, or do I have to wait for version 1.1.0 as indicated by the milestone for this bug report?

[2018-04-23 08:52] pamidur commented on #63
Hi,
It might be a different type of bug or some sort of regression. Do you mind provide a sample project?

[2018-04-23 13:16] pberggreen commented on #63
Ok, I managed to reproduce the problem:
It seems to be a combination of having the aspects in a separate class library AND having more than one "Around" aspect!
I have attached your sample solution where I have reproduced the problem.

[samples.zip](https://github.com/pamidur/aspect-injector/files/1938338/samples.zip)

[2018-06-20 07:57] MrVerifit opened #70 "Full Framework gets reference to CoreLib"
Can you please make it usable with .net40?

[2018-06-20 12:58] pamidur commented on #70
That's going to be challenging. The limitation is the lowest framework's version that supports asycn/await. However it might work on even lower version, I'll give it a shot...

[2018-06-21 05:35] MrVerifit commented on #70
[https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/preprocessor-directives/preprocessor-if](url) this link can help you

[2018-06-29 06:47] pamidur commented on #70
It's a bit more complicated than that:
The actual injector is framework version agnostic. Even more the next version of injector is going to be built on net core 2.1. This means that you'll need installed netcore21 on your machine. However your target code might as low as net45.
Now why net45?
Although the injector is version agnostic there is a bridge between your code and injector that is Aspect

[2018-07-23 11:52] pberggreen opened #71 "Local variables in async methods are not visible in the VS debugger"
When I am debugging an async method in visual studio and I am trying to see the value of a local variable, I get the error message: "error CS0103: The name 'x' does not exist in the current context".
I am using aspect-injector version 1.0.1.
I am primarily having this problem in web api controllers, but I can reproduce the problem in the following console app:

[code]

If I put a breakpoint in Con

[2018-07-27 21:30] drony commented on #66
any news soon?

[2018-08-13 05:35] pamidur commented on #66
Unfortunately mono cecil is in the same state - it is beta 7 release from on Nov 3, 2017. So I guess will release pre-release package on nuget.

[2018-08-13 05:37] pamidur commented on #71
Thanks for report, I'll be looking into it

[2018-09-03 18:16] drony commented on #66
also i think Fody use beta version of cecil.

[2018-09-04 01:39] kingreatwill commented on #66
Don't give up. We are all looking forward to it.

[2018-09-04 15:55] pamidur commented on #69
Just use Advice After Method on async method - that basically it.

[2018-09-04 15:55] #69 closed

[2018-09-04 16:46] pamidur commented on #66
Guys, please check https://github.com/pamidur/aspect-injector/releases/tag/1.5.0-beta and report shell you found any bugs.

[2018-09-04 16:46] #66 closed

[2018-09-04 16:47] pamidur commented on #60
done in 1.5.0-beta

[2018-09-04 16:47] #60 closed

[2018-09-04 16:48] pamidur commented on #68
release in 1.5.0-beta

[2018-09-04 16:48] #68 closed

[2018-09-05 09:12] pamidur opened #72 "Create Roslyn Analyzer"
subj

[2018-09-06 21:03] mr-unicoder opened #73 "How to change property return value"
Let's say I've two properties as follows:
[code]

AddressesJson property is used for EF persistence purposes only
what I want to do is:
1. **After** setting AddressesJson value, deserialize the value and set Addresses property value
2. **When** trying to get AddressesJson value, return JSON serialization of Addresses property

Is this doable?

**EDIT**
I was able to implement the first point using

[2018-09-07 06:13] pamidur commented on #73
This is barebone implementation for conventional converter.
It expects you mark with ```[Inject(typeof(AutoJsonAspect))]``` propery like **string DataJson**
then it looks for another property with name without _Json_ like **object Data** and converts value back and forth.

It also has some cache to speedup operations.

You may want to add additional checks in this code :)

[code]

[2018-09-07 06:25] pamidur opened #74 "Name argument returns `set_PropertyName` instead of `PropertyName` for Property Injections"
subj

[2018-09-08 05:31] mr-unicoder commented on #73
Thank you, works like magic!

[2018-09-08 05:31] #73 closed

[2018-09-21 12:51] pberggreen opened #75 "Compilation error: Sequence contains no matching element"
After upgrading from version 1.0.0-beta4 to version 1.0.1 I get the compilation error below.
I have only one aspect with the following attribute:
[Advice(Advice.Type.Around, Advice.Target.Method)]

26>EXEC : error : System.InvalidOperationException: Sequence contains no matching element
26>     at System.Linq.Enumerable.First[TSource](IEnumerable`1 source, Func`2 predicate)
26>     at AspectInject

[2018-09-21 13:03] pamidur commented on #75
Hi, thanks for the report.

Honestly this json serialization/deserialization is quite bugy from the very beginning. We're thinking to get rid of it.
So this is a chance to ask -> are you ok to have runtime reference to AspectInjector.Broker.dll (netstandard1.0) and instead have everything much more stable?

As to your particular case -> try to recompile everything with 1.0.1 version (check other p

[2018-09-21 13:27] pberggreen commented on #75
I have tried rebuilding my solution with both version 1.0.1 and 1.5.2-beta and I still get that compilation error.

Frankly, I don't know the consequences of having a runtime ref to AspectInjector.Broker.dll (netstandard1.0), but more stability sounds nice :-)

[2018-09-21 13:31] pamidur commented on #75
it is just an additional small dll :) no more than that

The issue might happen if you have a dll with aspects which is built using 1.0.*-beta. And then you try using those aspects in another project with 1.0.1 release

[2018-09-21 13:57] pberggreen commented on #75
Unfortunately, I cannot send you the whole solution and my smaller sample project compiles without problems.
Any suggestions?

[2018-09-21 14:01] pamidur commented on #75
I could only suggest make CleanAll, manually remove all **obj** and **bin** folders. And try again.

We will be looking further into this issue.

[2018-09-24 09:42] pberggreen commented on #75
Unfortunately, Clean All and removing all obj and bin folders didn't help.
I'll look forward to a better solution.

[2018-11-16 07:55] leohawke opened #76 "Inject class is seadled means inflexible"
my colleagues are a bunch of c# noob,
i wants provide that:
 class LogInject : Inject
 {
          LogInject()
          {
              base(typeof(LogAspect))
          }
 }
so,my colleagues only needs do:
[Log]
void Foo(){}

[2018-11-16 08:15] pamidur commented on #76
Hi, this feature is planned, and actually used to be here in beta. The problem is if you have poject A and project B. Where in project B you have your attributes and project A references project B and uses those attributes, but project A doesn't reference AspectInjector. Is this case attributes will be there, but injections happening.
Currently we're waiting for dotnet sdk to be fixed so build tar

[2018-11-16 10:59] pamidur commented on #76
Just some more clarification: making it sealed is easiest way to force developer to reference AspectInjector directly. I will re-enable this feature once nuget fixes this https://github.com/NuGet/Home/issues/6091

[2018-12-02 11:24] twzhangyang opened #77 "How to apply aspect to async method"
For example I have an async method:
[code]

Then the ErrorHandlingAspect like this:
[code]
My question is does aspect-injector support applying aspect to  async method?

Thanks

[2018-12-02 16:06] pamidur commented on #77
Hi, this is a bit complex scenario because:
- you want to handle exception, but you need to return correct result to consumer
- you want to wrap async methods which in fact return Task and the exception might be thrown afterwards

So it seems it requires a bit of magic, like this:
[code]

[2018-12-03 05:40] twzhangyang commented on #77
Hi pamidur,

Thanks for your solution, it works. I would say although this scenario is complex but your approach is most simple one comparing other libraries such as
Castle.DynamicProxy
https://github.com/kswoll/asyncproxy

Thank you very much. this one is really a simple/flexible approach.

[2018-12-04 18:52] pamidur commented on #75
Should be fixed in https://github.com/pamidur/aspect-injector/releases/tag/2.0.0-beta1 . However beware there are braking changes, you'd need to modify you code code (slightly)

[2018-12-04 18:53] pamidur commented on #76
Take a look at https://github.com/pamidur/aspect-injector/releases/tag/2.0.0-beta1 . However beware there are braking changes, you'd need to modify you code code (slightly)
This release actually requires you to write your Injections via Attributes

[2018-12-04 19:01] #75 closed

[2018-12-04 19:01] pamidur commented on #3
Isn't going to happen

[2018-12-04 19:01] #3 closed

[2018-12-04 19:01] #29 closed

[2018-12-04 19:02] pamidur commented on #29
done in 2.0.0-beta1

[2018-12-04 19:02] pamidur commented on #30
done in 2.0.0-beta1

[2018-12-04 19:03] #65 closed

[2018-12-04 19:03] pamidur commented on #74
fixed

[2018-12-04 19:03] #74 closed

[2018-12-04 19:07] #30 closed

[2018-12-05 15:26] ocherniavskyi opened #78 "Attribute Multicasting"
Hi, do you have any plans for Attribute Multicasting e.g. https://doc.postsharp.net/multicast-conceptual. From my side i desperately need a way how to apply Injection for methods that already marked with attribute to extend unit test framework functionality

[2018-12-05 16:23] pamidur commented on #78
Hi, this is the case from very beginning, if I understood Multicasting correctly.
For instance you can apply attribute to whole assembly, and advice will be injected into every single class/nestedclass/method

[2018-12-05 19:33] ocherniavskyi commented on #78
Im onle need to inject into methods which suplied with [TestCase] attribute for instance - and not for method without this atrribute, is it possible?

[2018-12-05 20:31] pamidur commented on #78
I got your point. No, unfortunately there is no (yet) filter by existing attribute. However if you're ok with little magic in runtime, you can do this:

[code]
Note: this in fact inject into all public methods, but executes code selectively.
Note2: the snippet is for v2.0.0-beta1, but can be adjusted for earlier versions

[2018-12-06 22:08] ocherniavskyi commented on #78
Thank you, i will try, but filtering or targeting would be a grate feature

[2018-12-06 22:14] ocherniavskyi commented on #78
Can i apply MySelectiveAspect to all classes in assembly in one place?

[2018-12-06 22:38] pamidur commented on #78
Yes, put somewhere [assembly: MySelectiveAspect]

The filter is there only by access, member and scope now. In near future Im gonna add filter by name with wildcards. I'll take at filtering by attribute afterwards

[2018-12-07 08:18] ocherniavskyi commented on #78
Thanks a lot for your grate work.

[2018-12-29 02:45] paxhujing opened #79 "Fix discovery invection into setter or getter directly"
[code]

[code]

[2018-12-29 09:10] pamidur commented on #79
In this case I assume (I can't check right now) it treats setter as a method. So you can either
1. Mark whole property LineCount with WriteConsoleAttribute
Or
2. Make advice target = Method.

Anyway, it is workaround. This should be fixed. Thanks for the report

[2019-01-03 00:24] ocherniavskyi opened #80 "StackOverflowException when applying injection on assembly and running Nunit test"
Visual Studio 2017 Pro 15.9.1

Failed to run nunit tests due to StackOverflowException when applying injection to whole assembly. But it successfully runs when injection applies to class.

[AspectIssue.zip](https://github.com/pamidur/aspect-injector/files/2722417/AspectIssue.zip)

[2019-01-03 08:05] pamidur commented on #80
Thanks, the issue is there. We still injecting aspects into aspects. This seem like regression. Will be fixed soon

[2019-01-03 11:08] #80 closed

[2019-01-03 11:40] pamidur commented on #79
fixed in 2.0.1

[2019-01-03 11:40] #79 closed

[2019-01-03 11:40] pamidur commented on #80
fixed in 2.0.1

[2019-01-03 11:42] pamidur commented on #79
setter and getter are methods, so if you want to inject like this
[code]

you need to have your advice target set to Method
[code]

[2019-01-03 12:31] ocherniavskyi opened #81 "FileNotFoundException for AspectCodeFixProvider and MixinCodeFixProvider"
Plugins crushes time to time

![image](https://user-images.githubusercontent.com/45246546/50637707-c3a41480-0f63-11e9-8d8b-85b1d2eacbb3.png)

StackTrace: System.IO.FileNotFoundException : Could not load file or assembly 'AspectInjector.Rules, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified.
   at AspectInjector.Analyzer.C

[2019-01-03 12:34] ocherniavskyi opened #82 "Impossible to debug method body that was wrapped around with aspect"
All breakpoints disappears after debug starts.
Sometimes breakpoints marked with exclamation mark  with notice: "code is was changed since last time"

![image](https://user-images.githubusercontent.com/45246546/50638061-05818a80-0f65-11e9-9864-78d1bbbdfaf9.png)

[2019-01-03 13:12] pamidur commented on #82
The issue is there due to the fact you use old csproj format and thus old debuginfo. I'll look into it and maybe find a way to support old format. Until then you can switch to new debug format (it shouldn't make any difference to your project):
![default](https://user-images.githubusercontent.com/4095184/50639391-ffda7380-0f69-11e9-85e3-2e74ca5390e1.png)

[2019-01-03 13:36] ocherniavskyi commented on #82
Yes it works now, thanks a lot

[2019-01-03 13:39] pamidur commented on #82
I'll let you know if I can fix it in generic way. Or I'll add it as a known issue.
However issues like this can appear because there are many things(issues) with old csproj format that even Microsoft will not fix. In general I suggest to look at migrating to new csproj format for your projects.

Thanks for your reports, it helps a lot to make AspectInjector better!

[2019-01-03 14:21] #82 closed

[2019-01-03 14:31] #81 closed

[2019-01-03 14:33] pamidur commented on #81
I guess I fixed it in 2.0.2, please check

[2019-01-03 14:34] pamidur commented on #82
It should work now with FULL debug info in 2.0.2

[2019-01-03 15:07] ocherniavskyi commented on #82
Quick check shows that now its working.

[2019-01-03 15:09] ocherniavskyi commented on #81
Now there is no crushes during "Project load -> build -> run", will see how its works during day to day work

[2019-02-07 13:10] drony opened #83 "Can i use in assembly level?"
when i tried i got this error

### aspect file
    [Aspect(Scope.Global)]
    [Injection(typeof(LoggingAspect))]
    [AttributeUsage(AttributeTargets.All, Inherited = false)]
    public class LoggingAspect : Attribute

### in assembly
[assembly: LoggingAspect()]

[code]

[2019-02-07 13:23] pamidur commented on #83
Hi,
I could not reproduce this case. I suspect aspectInjector tries to wrap around method which is not a method somehow (idk, maybe something from COM or p/invoke).
Could you please provide more code so we can see what exactly in the Assembly you're injecting to?

[2019-02-07 13:50] pamidur commented on #83
Ok, i found a problem. This is regression issue with abstract and external methods which was already fixed before. I'll fix it soon

[2019-02-07 14:11] pamidur commented on #83
fixed in 2.0.3

[2019-02-07 14:11] #83 closed

[2019-02-07 14:14] drony commented on #83
I've just updated. but i thin there is a problem with static Main function

 public object HandleMethod(
            [Argument(Source.Instance)] object **instance**,
            [Argument(Source.Name)] string name,
            [Argument(Source.Arguments)] object[] arguments,
            [Argument(Source.Target)] Func<object[], object> method)
        {

instance is null and i handle instance this

[2019-02-07 14:18] pamidur commented on #83
This is by design.
Static methods (like Main() ) don't have _this_ and you'll receive [Argument(Source.Instance)] object **instance** = null.

You have to check if instance is null and the process it correctly. Btw you can use [Argument(Source.Type)] this is always not-null

[2019-02-07 14:22] drony commented on #83
thanks but this is a new errors

6>  AspectInjector: Started forxxx.dll
6>  AspectInjector: Assembly has been read.
6>  AspectInjector: Found 0 aspects
6>  AspectInjector: Found 958 injections
6>  AspectInjector: Processing injections...
6>  AspectInjector: Executing AdviceInlineWeaver...
6>  AspectInjector: Executing AdviceStateMachineWeaver...
6>  AspectInjector: Executing AdviceAroundWeaver...

[2019-02-07 14:32] pamidur commented on #83
Do you use unsafe code?
It seems there is some unusual method argument is your code.

[2019-02-07 14:40] drony commented on #83
yes unsafe code available

[2019-02-07 14:43] pamidur commented on #83
Can I have any sample on there you pass pointers into method as a parameters?

[2019-02-07 14:57] drony commented on #83
actually this is a very very large library. i prepare lightweight sample soon as possible.
thanks for your help

[2019-02-07 15:33] drony commented on #83
I've recompiled this line from source code:

AspectInjector.Core>Fluent>PointCut.cs

private Instruction PickStoreInstruction(TypeReference parameterType)
        {
            var elemType = ((ByReferenceType)parameterType).ElementType;

            switch (elemType.MetadataType)
            {
                case MetadataType.Class: return CreateInstruction(OpCodes.Stind_Ref);
                ca

[2019-02-07 15:35] drony commented on #83
and it think add this line should be fix:

 **case MetadataType.String: return CreateInstruction(OpCodes.Ldind_Ref);**

[2019-02-07 16:04] drony commented on #83
for my project:

MetadataType.ValueType
MetadataType.GenericInstance
MetadataType.String
MetadataType.Array

missing in pointcut.cs in two location

[2019-02-07 16:29] pamidur commented on #83
have a try 2.0.5

[2019-02-07 16:32] pamidur opened #84 "Support Unsafe Code"
subj

[2019-02-08 12:11] drony commented on #64
thanks it's works

[2019-02-08 13:51] drony commented on #83
thanks it works

[2019-02-09 17:31] OlegYanushkevich opened #85 "AspectInjector doesn't work correcly with generic methods."
When I am using Advice with Kind.Around for generic method, I'm getting System.Security.VerificationException.
![capt](https://user-images.githubusercontent.com/28996736/52524052-9a388000-2ca9-11e9-83a0-53afb5827dbd.PNG)
Environment: Windows 10, .net core 2.2.103

[2019-02-09 17:42] pamidur commented on #85
Thanks for the report. Would you mind providing an example of the generic method and its constraints?

[2019-02-09 17:53] OlegYanushkevich commented on #85
@pamidur, no problem. You will see method [here](https://github.com/OlegYanushkevich/QAutomation/blob/master/QAutomation.Selenium/ElementFinderService.cs) on 26 line. And execution example [here](https://github.com/OlegYanushkevich/QAutomation/blob/master/Test/Program.cs) on 46 line.

[2019-02-11 10:16] OlegYanushkevich commented on #85
You can see aspect definition [here](https://github.com/OlegYanushkevich/QAutomation/blob/master/QAutomation.AspectInjector/Logged.cs). I use AspectInjector 2.0.5.

[2019-02-11 10:58] #85 closed

[2019-02-11 10:58] pamidur commented on #85
Please check out 2.0.6 . Should be fixed now

[2019-02-11 11:22] OlegYanushkevich commented on #85
Yes, it's working now.Great. Thanks for your good job.

[2019-03-23 14:06] prixodkooleg0 opened #86 "Why i have so many DLLs file in Debug folder?"
It is super project, Thank you. I used version 1.0.1 was ok. Now i try lastest version and have all framework dlls in debug folder. How can i fix this? i am using MVS2017.

[2019-03-23 17:33] pamidur commented on #86
I suspect you're not using TFM that directly supports netstandard2.0. Can you me  please what framework you target?

[2019-03-23 17:37] pamidur commented on #86
net461
![image](https://user-images.githubusercontent.com/4095184/54869545-de3b9c00-4da2-11e9-98ce-ca665a5a68bd.png)
net471
![image](https://user-images.githubusercontent.com/4095184/54869556-fb706a80-4da2-11e9-927c-e52a3f773985.png)

[2019-03-23 17:39] pamidur commented on #86
https://stackoverflow.com/questions/47184230/large-number-of-assemblies-in-net461-output-folder-when-building-net-framework

[2019-03-23 18:12] prixodkooleg0 commented on #86
Using framework 4.7.2 helps. Thank you very much. And program steel donot need AspectInjector.Broker.dll after build?( i must copy only .exe file?)

[2019-03-23 18:19] pamidur commented on #86
This the whole point here -> AspectInjector.Broker.dll is now required.
This is done for better compatibility, for ease reusing aspects into other assemblies and for other features in future. The drawback is that you need this dll to be alongside your exe.

[2019-03-24 11:42] prixodkooleg0 commented on #86
I am set donot copy to AspectInjector.Broker.dll and then copy exe file to another folder and it is works.

[2019-03-24 17:53] pamidur commented on #86
Well no problem with that. I'm glad it works for you, just be aware it works until you try to get custom attributes on your classes.

[2019-03-25 07:54] tzm1119 opened #87 "I want to know how to trigger dynamic injection of IL when I compile an assembly."
I just see this logs.I want to know why I press F5 in vs,this can be exectued

1>  AspectInjector: Started for AspectInjector.SampleApps.NotifyPropertyChanged.exe
1>  AspectInjector: Assembly has been read.
1>  AspectInjector: Found 1 aspects
1>  AspectInjector: Found 4 injections
1>  AspectInjector: Processing aspects...
1>  AspectInjector: Processing injections...
1>  AspectInjector: Executing A

[2019-03-25 08:03] pamidur commented on #87
If I understand your question correctly, you want to know how we're triggering injections.
We use nuget feature which allows import target files from nuget package. Then using this target file we execute aspectinjector with msbuild write after compilation.
You can see it here https://github.com/pamidur/aspect-injector/blob/master/nuget/build/AspectInjector.targets

[2019-03-25 08:24] tzm1119 commented on #87
I get it. Thanks

[2019-03-25 08:31] tzm1119 commented on #87
I have a suggestion.Just like below. it is your example.
I do not want to write [Notify] anywhere.
I just want to write a rule, just like I want all Class in my project which Name endwith "ViewModel",I want to add [Notify] to its all properties.
I think is more convenient.

public class AppViewModel
    {
        [Notify]
        public string FirstName { get; set; }

        [Notify(NotifyAlso =

[2019-03-25 09:09] pamidur commented on #87
You already can apply your [Notify] to a class or other whole assembly [assembly:Notify].
The name filter is under development, and will be available in future versions

[2019-04-02 12:00] twzhangyang opened #88 "Compile error in VS 2017"
Hi  @pamidur ,

The project targeted to netcoreapp2.2, Some colleagues can compile successful but two of them can not. Got such compile errors in VS2017:
The version of AspectInjector  is 2.0.2, Do you have any suggestions for this error?
Thanks,
Yang

<img width="1426" alt=":Users:yrzhang:Downloads:image (3)" src="https://user-images.githubusercontent.com/22952792/55400524-b3aac980-5580-11e9-9fbd

[2019-04-02 18:01] pamidur commented on #88
Hi,
Seems like incorrect referencing aspectinjector. Try to unreferrnce it and add it from Nuget again.

It might help if you could send a .csproj file

[2019-04-03 02:52] jaanifly commented on #88
Hi @pamidur,

This is my .csproj file
![image](https://user-images.githubusercontent.com/6056270/55449546-83097500-55fe-11e9-8782-26e35e5be17d.png)
Cheers
Jaani

[2019-04-03 07:47] pamidur commented on #86
Closed. Feel free to reopen if needed.

[2019-04-03 07:47] #86 closed

[2019-04-03 08:03] pamidur commented on #88
Hi Jaani,

I've found what's wrong.
[code]

Aspect Injector used to mark it's assets as private in previous versions. But not anymore. I don't know if you intentionally set _PrivateAssets_ and _IncludeAssests_ or it is left after upgrade. So the solution is either remove  _PrivateAssets_ and _IncludeAssests_ lines:
[code]
or (if you set those lines intentionally) add **compile** to _IncludeAssests

[2019-04-03 08:10] pamidur opened #89 "Introduce Naming filter"
The may be two types of naming filter:

1. The one that is part of Advice, so advice can be injected only into methods that pass the filter. Similar to current _Targets_ property

2. Injection filter, so that mass injection can be done selectively. Should be applied to [Injection] attribute. Might also have target filter as well.

[2019-04-03 08:11] pamidur commented on #87
Created #89 . So we can track naming filter feature.
Feel free to reopen if needed.

[2019-04-03 08:11] #87 closed

[2019-04-03 08:12] pamidur commented on #78
Create #89 to track advanced filtering
Feel free to reopen if needed.

[2019-04-03 08:12] #78 closed

[2019-04-08 09:26] pamidur commented on #88
Did it help?

[2019-04-09 02:40] jaanifly commented on #88
Hi @pamidur, I tried removing the include assets, still no help.

[2019-04-16 03:50] 564064202 opened #90 "AspectInjector exec reaches cmd char limit"
it doesn't work on asp.net core webapi,grpc (2019)

[2019-04-16 11:48] pamidur commented on #90
Hi,
Would you mind to provide an additional info like project sample or build log?

[2019-04-17 02:51] 564064202 commented on #90
[http://97.64.126.29:3000/AsyncAop.7z](url)
you can also create the project by yourselef .

[2019-04-17 02:52] 564064202 commented on #90
please tell us the reason why it didn't work

[2019-04-17 06:16] pamidur commented on #90
I'm afraid your link doesn't work. Could you please reupload it somewhere or just post you *csproj and *cs files here.

But the name of the file implies you try to wrap around async methods.You may want to check this issue #77

[2019-04-17 07:55] 564064202 commented on #90
it's ok now.

[2019-04-17 07:58] 564064202 commented on #90
please download it,and then I will shutdown it

[2019-04-17 10:54] pamidur commented on #90
Ok, thanks, I found the issue. It seems that aspnetcore 3.0 has so many dependencies that we simply reach the limit for command execution while passing all those references. I'll be working on it.

[2019-04-17 18:41] #90 closed

[2019-04-17 19:23] pamidur commented on #90
check out version 2.1.0 should work fine now

[2019-04-17 19:30] pamidur commented on #88
Have tried to add "**compile**" to the list?

[2019-04-18 00:31] 564064202 commented on #90
thanks

[2019-04-18 05:29] 564064202 opened #91 "can we use it without visual studio?"
can we use it without visual studio?

[2019-04-19 01:10] 564064202 commented on #91
hello?

[2019-04-19 03:02] twzhangyang commented on #88
Hi @pamidur

Thanks for your patience. I try to compile current project in several machines and turns out it's all build successful.
Right now @jaanifly is only one who can not compile this project in his machine. he will re-install VS in his machine.
We still don't know why his VS will report this compile error but let's waiting his result after re-installed VS.

Thanks,
Yang

[2019-04-19 06:21] pamidur commented on #91
Hi, yes you can. Visual studio is not necessary.
You can build your project from command line using Msbuild. Even more aspectinjector is mere an executable, so you can trigger injections when you want, however this last scenario is not officially supported.

If describe your need in details, I might come up with another suggestion.

[2019-04-19 06:28] 564064202 commented on #91
We have a scenario:
 our program will   generate a dotnet project (which  contains aspectinjector )  automaticlly,
and then our program will build the project  by dotnet cil,how we can do it?

[2019-04-19 06:43] pamidur commented on #91
"dotnet build" definitely works fine aspectinjector

[2019-04-19 06:44] 564064202 commented on #91
perfect! thank you every much!

[2019-04-19 15:53] pamidur commented on #88
Try re clone your repo to another directory. Optionally go ahead and remove all bon and obj folders. And also try remove c\users\<user>\.nuget

[2019-04-22 22:50] saqw3r opened #92 "Compilation error - failed to resolve assembly"
After installing Nuget packages and building the project I've got next sequence of compilation errors:

Error - Aspect Injector processing has failed. See other errors.
Error - Mono.Cecil.AssemblyResolutionException: Failed to resolve assembly: 'System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'

[2019-04-23 07:32] pamidur commented on #92
Hi,
Thanks for report. What the version of aspectinjector you're using?

[2019-04-23 09:01] introspection3 opened #93 "Investigave attributes injection (same way as interface injections)"
sir,how to add an attribute to a class

[2019-04-23 09:04] pamidur commented on #93
Hi,
Can you please elaborate more on this?

[2019-04-23 09:07] 564064202 commented on #93
We have an error when we migrate asp.net webapi to asp.net core (we have to use swagger core ,
but swagger core need every action explicit HttpMethod binding)

Ambiguous HTTP method for action - Permission.Service.Controllers.RoleController.GetRoleConfigValue (Permission.Service). Actions require an explicit HttpMethod binding for Swagger 2.0

[2019-04-23 09:15] saqw3r commented on #92
Hey, I can only give you the version of AspectInjector: "AspectInjector.Broker, Version=1.0.1.0, Culture=neutral, PublicKeyToken=a29e12442a3d3609, processorArchitecture=MSIL". Unfortunately, the project is under NDA

[2019-04-23 09:19] pamidur commented on #93
Ok, I guess I understand. So you want an api that allows adding attributes to a class(or member) after
compilation. Is that correct?

[2019-04-23 09:20] 564064202 commented on #93
yes

[2019-04-23 09:24] pamidur commented on #92
Unfortunately, this version is quite outdated. Try using latest one (2.1.0 at the moment) it has majority of the issues fixed and has better performance

[2019-04-23 09:26] pamidur commented on #93
This is an interesting idea. We will investigate it and may be implement in future. For now, unfortunately , aspect injector cannot do it

[2019-04-23 09:27] 564064202 commented on #93
ok,thanks all the same

[2019-04-23 12:51] saqw3r commented on #92
Unfortunately, this version doesn't support .net 4.5.2  - and it's a requirement that I cannot change on my project.

[2019-04-23 13:25] pamidur commented on #92
I've had a look at v 1.0.1. I couldn't find why it is hapenning. I could guess and ask you to try to reference this library in your project directly.

It might also help if you set your build log to diagnostic and look for lines like
[code]
and drop them here

If you ever consider to move to net461 - it supports netstandard 2.0

[2019-04-23 14:56] saqw3r commented on #92
The only build log, related to this error, I found:
10>EXEC : error : Mono.Cecil.AssemblyResolutionException: Failed to resolve assembly: 'System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'
10>     at Mono.Cecil.BaseAssemblyResolver.Resolve(AssemblyNameReference name, ReaderParameters parameters)
10>     at AspectInjector.Core.Utils.KnownReferencesAssemblyResol

[2019-04-23 14:56] saqw3r commented on #92
"If you ever consider to move to net461 - it supports netstandard 2.0" - no, it's not an option

[2019-04-23 15:32] saqw3r commented on #92
[BuildLogs.txt](https://github.com/pamidur/aspect-injector/files/3108323/BuildLogs.txt)

[2019-04-23 15:42] pamidur commented on #92
Back in the days of v1, AspectInjector used to go through your code remove any dependency to AspectInjector.Broker. It seems like for some reason when it tries to figure which assembly particular reference belongs to, the resolver could not find **System.Web.WebPages** dll. Dll resolution especially for MVC might be tricky. Thus I think that if you explicitly reference **System.Web.WebPages, Versi

[2019-04-23 15:54] pamidur commented on #92
Would you mind to check what the exact file name of "E:\projectRootFolder\packages\Microsoft.AspNet.Webpages.3.2.3\lib\net45\System.Web.Webpages.dll" ?

[2019-04-23 16:18] pamidur commented on #92
idk if it helps I've made dll search less strict and created prerelease version
https://www.nuget.org/packages/AspectInjector/1.0.2-pre

let me know if it helps

[2019-04-23 17:23] saqw3r commented on #92
Yeah, the compilation error at least has been thrown away!

[2019-04-23 17:40] saqw3r commented on #92
And here the list of files from "E:\projectRootFolder\packages\Microsoft.AspNet.Webpages.3.2.3\lib\net45\" :
![изображение](https://user-images.githubusercontent.com/8653893/56603195-d26f0f80-65c4-11e9-981f-a97d2c4d894a.png)

[2019-04-23 17:53] pamidur commented on #92
Let me know if it works as expected, So I make a proper release for both v1 and v2

[2019-04-25 10:23] saqw3r commented on #92
Yeah, although there where some troubles with pre-release prefix, but I found workaround and it seems ok.

[2019-04-26 19:55] pamidur commented on #92
I've created stable release https://www.nuget.org/packages/AspectInjector/1.0.2
Please fill free to reopen if needed

[2019-04-26 19:55] #92 closed

[2019-04-28 21:07] mmoroni commented on #70
Hello there. I’m thrilled with this package, but I was unable to make it work using the full .net framework.
Is there any plans on making it .net standard 2.0 compatible? Or am I doing something wrong?
Thx

[2019-04-29 06:28] pamidur commented on #70
Hi,
It is netstandard2.0 compatible. However the lowest full framework version that supports netstandard2.0 is net461.
If your project is >= net461, you should be able to simply get the package from Nuget. And it should just work. If doesn't, please send your *.csproj file and logs.

[2019-04-29 16:32] mmoroni commented on #70
Yes, it's net472.
This is the error being thrown: Could not load file or assembly **'System.Private.CoreLib**.

I have attached a full project sample and the full exception below:

[AOPConsole.zip](https://github.com/pamidur/aspect-injector/files/3128280/AOPConsole.zip)
[Error.txt](https://github.com/pamidur/aspect-injector/files/3128284/Error.txt)

Thx, pamidur!

[2019-04-29 16:53] pamidur commented on #70
Thanks for the report. It looks like regression, because it was already fixed couple of versions ago.

[2019-04-29 16:55] pamidur commented on #70
Meanwhile you can try prev version

[2019-05-02 15:17] saqw3r commented on #77
Hey, @pamidur , it seems I had tried your suggestion, but I've bumped into the known GUI async/await deadlock problem. (I'm using v.1.0.1/1.0.2 of the AspectInjector)

[2019-05-02 15:25] saqw3r commented on #77
Generally, the problem is not only about async methods, which returns Task<T>, but also methods with returning types Task and void.

[2019-05-03 11:37] pamidur commented on #70
Fixed in 2.1.1. Please check and reopen if needed

[2019-05-03 11:37] #70 closed

[2019-05-03 11:47] pamidur commented on #91
Closed, feel free to reopen if needed

[2019-05-03 11:47] #91 closed

[2019-05-03 11:48] pamidur commented on #88
Any luck with this issue?

[2019-05-03 12:17] pamidur commented on #77
try
[code]

[2019-05-06 13:30] saqw3r commented on #77
[Bug with Async.txt](https://github.com/pamidur/aspect-injector/files/3148091/Bug.with.Async.txt)
I've attached an example of MyClass. Here I'm getting an error on line 42:
_asyncTaskExecution.MakeGenericMethod(syncResultType).Invoke(this, new object[] { target, args });

with message: "System.Threading.Tasks.Task WrapAsync(System.Func`2[System.Object[],System.Object], System.Object[]) is not a Ge

[2019-05-06 14:02] pamidur commented on #77
this is incorrect approach, in my solution above there are two cases - object and Task<T> methods.
Where any sync method and async void methods are wrapped by object handler; and Task and Task<T> methods are wrapped with Task<T> handler.
So in fact you don't need separate handlers for Task and Task<T>. Task basically converts to Task<object>.

Though if you want to have a separate handler for non-

[2019-05-06 15:49] saqw3r commented on #77
I've checked your last approach, but it generates the Exception
at the line:  `await (Task)target(args);`
at the method WrapAsync(...) with next details:
[code]

[2019-05-06 17:04] saqw3r commented on #77
[ConsoleApp1.zip](https://github.com/pamidur/aspect-injector/files/3149027/ConsoleApp1.zip)
Attached an adopted example for .net 4.5.2

[2019-05-07 07:40] pamidur commented on #77
In earlier version injection were done directly, so your code is slighly incorrect. I fixed it for you and also added handlers for void methods. Note that you cannot really catch Exceptions in ```async void``` methods, and it has nothing to do with AspectInjector.

[code]

[2019-05-07 13:01] saqw3r commented on #77
[WebApplication1.zip](https://github.com/pamidur/aspect-injector/files/3152700/WebApplication1.zip)
It appears, that the issue is not reproducible in Console application, but reproducible in Web application (probably, it's somehow related to the fact, that in a console application, there is no synchronization contex).
I created out of the box ASP.NET Web Mvc application. And added pretty similar (

[2019-05-09 07:26] jaanifly commented on #88
1. Deleted bin and obj folders
2. Re-cloned repo
3. Reinstalled VS
4. Reinstalled dotnet
5. Removed .nuget packages

Still no help @pamidur. Looks weird!

[2019-05-09 08:49] jaanifly commented on #88
Hi @pamidur
Updated my version to 2.1.1 and it works!
Looks like a compatibility issue earlier I was using 2.0.1 with dotnet core 2.2.103.
And thanks much for your help.

[2019-05-10 16:02] ferreirix opened #94 "Usage with IoC container"
Since most of the modern ASP.NET CORE applications use an IoC to resolve dependencies, is there a way we could make this (excellent) library DI friendly ?

I saw the [security sample](https://github.com/pamidur/aspect-injector/tree/master/samples/Security) where we rely on a Factory to resolve the `ISecurityService`.

Since the Factory has to be in a static method I tried to obtain the `IServicePr

[2019-05-10 16:33] pamidur commented on #94
Hi,
Yes, it is antipattern. However since all AOP magic is done in compile time when no instances exist, this antipattern is the only way we can come up with.
This is even more true for modern asp.net core where no static HttpContext.

Any ideas appreciated :)

[2019-05-13 03:09] #88 closed

[2019-05-13 13:30] saqw3r commented on #77
@twzhangyang Why? It's still unresolved issue for me.

[2019-05-13 14:17] twzhangyang commented on #77
Hi @saqw3r
Sorry man, Did not notice your question is still in there. but for this topic it already worked for me and I forgot to close it.
I guess you have another issue and different with original question. Could you please open another ticket?

[2019-05-13 16:30] saqw3r commented on #77
@twzhangyang No, you closed it. And then I reopened. You can unsubscribe in case you don't interested in our conversation and notification is bothering you.
I have the issue, which is directly related to the topic. But in case, author of framework would decide that it worths another ticket to be open - I will do it.

[2019-05-13 16:54] pamidur commented on #77
Guys, I guess the question is related, because definitely in some cases we might capture the context, thus causing deadlock.

There is a slight chance however that this issue is only present in the old version. In this case we'll move to another issue for legacy support.

I need a time to figure that out. Until then I'll leave open.

[2019-05-23 09:26] pamidur commented on #77
@saqw3r I've added configure await to wrappers and it works fine for me:
<details>
  <summary>Code</summary>

[code]
</details>

[2019-05-27 11:24] pamidur commented on #77
@saqw3r please let us know if the above solution works for you

[2019-05-27 13:00] pamidur commented on #77
I've added updated sample to samples subdir here
https://github.com/pamidur/aspect-injector/tree/master/samples/UniversalWrapper

Now it handles all possible scenarios without capturing context (necessary for old asp.net frameworks).
The only thing missing is `async void` exception handling, it requires execution via custom TaskFactory, which is a bit tricky as we might break something in the exec

[2019-05-27 13:00] #77 closed

[2019-06-04 20:11] marektoman commented on #77
@pamidur I wonder is there a reason why the non-generic methods are invoked via MethodInfo in your example?

[2019-06-04 20:33] pamidur commented on #77
@marektoman , no reason, I've just copy-pasted :)
However in the sample there are generic methods only
https://github.com/pamidur/aspect-injector/tree/master/samples/UniversalWrapper

[2019-06-13 13:08] marektoman opened #95 "Aspect is injected into local methods"
When I have a lambda expression inside a method, the aspect is injected into both:

[code]

Calling `Method()` results in:
[code]

Is there a way to avoid injection into local methods or is there a workaround (e.g. is the `<Method>` naming unique to local methods)?

[2019-06-13 17:30] pamidur commented on #95
Hi, thank you for report. This is definitely an issue. I guest we shouldn't inject into anonymous methods. I'll be working on it.
Until then you could mark with [Trace] only your Method () instead of whole class

[2019-06-13 20:58] marektoman commented on #95
@pamidur  In case you are deciding what the default behavior should be, I propose only injecting into member methods, so both anonymous functions and local named functions (c# 7 feature) should not be affected. I usually rewrite/extract anonymous functions as local functions, so there's no difference in my mind.

BTW I haven't tested how class level anonymous functions like delegate fields behave.

[2019-06-14 01:50] marektoman commented on #95
This issue also extends to async/await methods:
[code]
[code]

[2019-06-14 15:07] marektoman commented on #95
I currently use the following workaround, which avoids all the cases mentioned above:
[code]

[2019-06-14 15:12] marektoman commented on #95
One last thing, just in case you consider disabling injection into non-member functions completely, one scenario where I would really like to opt-in for this at the class level is argument validation.

[2019-06-14 15:13] pamidur commented on #95
FYI, Although this works, the compiler generated method names are totally up to compiler itself. As far as I know all compilers (even mono) use the same naming schema as of now, but it doesn't it will not change in future.

[2019-06-14 15:18] pamidur commented on #95
Would you mind to provide an example of such scenario where you might want to inject into anonymous methods?

[2019-06-14 16:55] marektoman commented on #95
Thanks for the clarification.

I've [this](https://gist.github.com/marektoman/e1a3579afed5e88d87793db9ce25d3f1) aspect (WIP), which validates all arguments. It checks if a parameter is decorated with an additional attribute and if it isn't, it validates the argument for the default case. E.g. for strings, this may be not empty (or not white space). Part of the point is that it works just by decora

[2019-06-14 18:36] pamidur commented on #95
I see your point. Thank you.
Although this is very valid point, I'm quite sure that injections should be applied to members  that developer "can see", sorry such explanation :) I mean that I'd rather inject only into visible members in order not to confuse developer.
For instance in your scenario the issue is that anonymous method are often used with linq(-to-objects) operating on lists that may c

[2019-06-14 18:43] pamidur commented on #95
For instance I'm really afraid of performance loss in case any method contains any lambda on list with thousand elements

[2019-06-14 19:03] marektoman commented on #95
I completely agree, the default behavior should be that it only injects into member methods.

On top of that, if I'm able to opt in by setting one of the attributes (Advice, Aspect, or Injection) to explicitly say "inject everywhere", that would be really useful. The full behavior can be described in the description of that attribute property so there's no ambiguity.

[2019-06-14 19:09] marektoman commented on #95
Regarding the LINQ laziness, if I pass a member method I have the same problem, and this becomes the required scenario anyway if I cannot enable injection into lambda functions and still need injection.

[2019-06-14 21:05] #95 closed

[2019-06-15 11:22] pamidur commented on #95
I'll be releasing new version with propagation control soon

[2019-06-16 15:40] marektoman commented on #95
Thanks for the update.

Big kudos for the project, BTW.

[2019-06-16 17:29] pamidur commented on #95
I've temporarily unlisted the update, because debugging was broken for Around advices. I'm working on proper update with new propagation control feature.

[2019-06-16 19:06] pamidur commented on #95
I encourage you to check out 2.2.1 version. It has [Injection] attribute with additional properties that control propagation.

[2019-07-10 05:32] kargencW commented on #94
i was using like securityservice example and its working..

` public void Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory factory)
        {
            AspectFactoryServiceCollection.ServiceProvider = app.ApplicationServices;`
` public void CheckAccess(
            [Argument(Source.Method)] MethodBase method,
            [Argument(Source.Injections)] Attribute[] trigger

[2019-07-10 05:36] pamidur commented on #94
Well, yeah, but there is still that ugly antipattern under the hood, isn't it?

[2019-07-10 05:54] kargencW commented on #94
yes :) but when needed and you cant find another way, undure  to ugly antipattern.

[2019-07-11 03:02] LaborJos opened #97 "error AI_ERR0: Processing failure: System.Exception: Cannot resolve generic parameter"
**Exception Message**
[code]

**Code**
[code]

Generic parameters are not used. However, the above error occurs.

[2019-07-11 05:13] pamidur commented on #97
Hi,
Wow, this is new generic-related bug. I thought they were fixed long ago.
Thanks for the report. I'll be looking at it soon.

[2019-07-12 05:18] LaborJos opened #98 "Complex property setter InvalidProgramException"
Simple Property(OK)
[code]

Complex Property(NG)
[code]

[2019-07-12 06:30] pamidur commented on #98
Thanks for the report. I'll be looking at it soon

[2019-07-12 07:07] LaborJos commented on #98
It seems to occur only in UnitTest.
But the problem has to be solved.

[2019-07-18 16:38] admedina commented on #72
I am loving Aspect Injector and I would really like to say thank you for building it!  Has there been anymore work done to support this feature?

[2019-07-18 16:45] pamidur commented on #72
Hi, thank for your feedback. It is really motivating!
As to Roslyn Analyzer - it is partially done. It supports c# only and performs code checks in desing time. Fix suggestions and vb.net support are in plans.

[2019-07-18 17:23] admedina commented on #72
This might come from a lack of understanding the correct terminology but is there a way to create analyzers to enforce checks such as `[NotNull] string argument`? Or would that be outside the goal of the analyzers you're working on?

[2019-07-18 17:30] pamidur commented on #72
Oh, I guess I got your idea. Such checks can be implemented in Roslyn for design time and in AspectInjector for runtime. Yes, you already can implement [NotNull] counterpart for runtime in AspectInjector.

As to this particular issue - this is about enforcement of correct parameters in advice methods and overall aspect implementation.

If you need any help or have any ideas for new features please

[2019-07-26 15:31] Peterdaemonx commented on #92
After deploy solución in tests enviroment I've got next sequence of compilation errors:
Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system cannot find the file specified.

[2019-07-26 15:40] pamidur commented on #92
Thanks for report.

Could please specify AspectInjector version you're using, what framework you're targeting and how you build your app?

[2019-08-08 04:35] LaborJos commented on #98
@pamidur

I have confirmed that no errors occur in VS 2019.

[2019-08-09 07:50] LaborJos commented on #97
@pamidur
I have confirmed that no errors occur in VS 2019.

[2019-08-09 08:27] pamidur commented on #97
Thank you for checking. I'm going to look into this bug as soon I return from vacation. Sorry for the delay.

[2019-08-12 19:33] #98 closed

[2019-08-13 18:47] pamidur opened #99 "Injection in types should be done in order of inheritance"
We need to sort types by the number of base classes before injection.

This prevents ```PerInstance``` aspects to work as expected as sometimes injection is done to subclass before superclass which leads to creating two instances of aspect.

Partially cause #97

[2019-08-30 08:19] oleksandr-hulyi-sph commented on #97
Hey @LaborJos , I'm still working on it. The is much deeper than I thought so it takes time. Until then the simple workaround would be to use Scope.Global for your aspects

[2019-08-30 08:21] pamidur commented on #97
I'm still working on it at this bug seem to be deeper than I thought. So it take time to fix it. Until then the workaround would be to used Scope.Global for your aspects

[2019-09-07 09:37] yunduansing opened #100 "hello, it can support .net core well?why constructor arguments always null?"
hello, it can support .net core well?why constructor arguments always null?

[2019-09-07 09:50] pamidur commented on #100
Hi,
Yes, it was developed .net core first. Could you please show a sample where it works unexpected way?

[2019-09-07 14:48] yunduansing commented on #100
Yes,here are my code,just like youre sample code
    [Injection(typeof(CacheAspect))]
    [AttributeUsage(AttributeTargets.Method | AttributeTargets.Class)]
    public class CacheAttribute : Attribute
    {
        public string Key { get; set; }
        public bool Delete { get; set; }
        public CacheAttribute(string key,bool delete)
        {
            this.Key = key;
            this.Del

[2019-09-07 15:06] yunduansing commented on #100
sorry,its my fault,it can work

[2019-09-07 15:07] #100 closed

[2019-09-11 13:40] promontis opened #101 "Aspect inheritance in different assembly"
I've tried to use the `NotifyPropertyChanged` aspect (from the samples) on a class. It works and intercepts the setters.

For example:
[code]

However, I now would like the Notify aspect to work with aspect inheritance from a different assembly.

For example:

Assembly X
[code]

Assembly Y
[code]
I would like to be able to intercept the setters, but it never intercepts.
Is there any way to make th

[2019-09-13 08:14] pamidur commented on #101
I have been thinking about this feature of inheritance of aspects. I cannot see why it wouldn't work. But there are a few things to consider.
 - How does developer know that the injections will take place if he inherits ```BaseViewModel```. What if this developer is from another organizations that just uses your library?
 - Things here get more complicated, because this would work transparently on

[2019-09-13 09:03] promontis commented on #101
Does that mean it should already work?

For my specific case, there is just one organization developing both assemblies. I can image that logging is not something that you want being injected without you knowing. For this case, I'm building a meta-modeling toolkit that enriches standard POCO with extra logic and not knowing something is injected is not a problem.

That's not a problem for me. I'll

[2019-09-13 09:23] pamidur commented on #101
It should not work yet. I consider it as a feature request.

Assume you are consumer of any particular library from a nuget. Would you like it's base classes trigger injections into your code that you don't know about? Asking because this might be the case if this feature is implemented.

How is different the attributes on base classes from attributes on base methods?

Oleksandr Hulyi

___________

[2019-09-13 11:37] promontis commented on #101
Ah ok, if you need any help, feel free to ask.

Yeah, I wouldn't mind if it is by design. Though, I would the library to state it explicitly somewhere

The attributes on the base classes are not different from those on the base methods.
I inherit from the base class and the injection attribute is specified on this base class. I also don't have any injection attributes on any base methods. I expect

[2019-09-13 11:39] pamidur commented on #101
I have been thinking about this feature of inheritance of aspects. I cannot see why it wouldn't work. But there are a few things to consider.
 - How does developer know that the injections will take place if he inherits ```BaseViewModel```. What if this developer is from another organizations that just uses your library?
 - Things here get more complicated, because this would work transparently on

[2019-09-13 11:48] pamidur commented on #101
I accidentally closed the issue :)

Yes, I want to figure out the expectations and come up with the best design before implementing this.

The questing regarding method is should we inject into AppViewModel.Do? :
[code]

Another issue might be that some of the base classes are to available during compilation (verification needed):
Assembly X
[code]
Assembly Y
[code]

Assembly Z // might not be ava

[2019-09-19 05:38] ivang7 opened #102 "mask for hooks method (like as PostSharp, AspectJ)"
hello,

Does have support intercept runs method from foreign libs?
example from postsharp (https://www.postsharp.net/logging):
`[assembly: Log( AttributePriority = 3, AttributeTargetAssemblies = "mscorlib"
                AttributeTargetTypes = "Microsoft.Win32.Registry*" )]`

It needs for customize logging assert libs:  https://github.com/allure-framework/allure-java/blob/f50f4b9ecd2d37bf04fca019

[2019-09-19 12:42] pamidur commented on #102
Hi, I'm not quite sure that I understand your  question, but if you're asking about assembly-wide propagation it is done like that:
[code]

[2019-09-19 12:49] pamidur opened #103 "Filter out [Injection] classes from propagation"
We need to skip injecting into triggers ( [Injection] attributes)

[2019-09-19 20:19] ivang7 commented on #102
thank you, that is i am need.
where i can find informations about parameters (PropagationFilter, Propagation, etc), how set filter for concrete assembly (librariries), for example FluentAsserts and all her methods

[2019-09-19 20:29] ivang7 commented on #102
in your example calling "Console.WriteLine(prog.Text);" not logged, it possible intercept call all functions?

[2019-09-20 07:46] pamidur commented on #102
Hi
Now I see your point. You want to intercept method calls within the method body, something like this (after injection is applied):
[code]
So you can use LogCall to do what ever you want with function call.

If this is the case, unfortunately this is not how aspect-injector currently works. It does not inject into the call site. It injects into the call's target. In this example the injection wo

[2019-09-20 07:52] pamidur commented on #101
Might be relative to #43

[2019-09-20 11:18] kargencW opened #104 "How can i disable injector in debug mode, debug very trouble with injected class."
Add MSBuild option to disable aspect injector entirely.

[2019-09-20 18:01] pamidur commented on #104
Hi, for now there is no way to disable injections entirely. And this would be good enhancement!

For now you good disable on per injections basis or per aspect bassis:

[code]

[2019-09-23 16:45] lanegoolsby opened #105 "Targets don't account for fullpath in $(IntermediateOutputPath)"
I am getting the following error when enabling Live Unit Tests.

[code]

Note on the one line that [Path to My Repo] is in the path twice.

This also breaks code test coverage for Resharper's test runner. All of my tests run successfully through the Visual Studio and Resharper plugins. This only affects the Live Coverage tool in Studio and the Unit Test Coverage tool in Resharper

I haven't been a

[2019-09-24 18:04] murseld opened #106 "Get value from Aspect"
How can i get values from aspect constructor when i use it ?

` [CacheAspect(typeof(MemoryCacheManager), 30)]`
` public Student Save(Student model)`
`{
     return model;
 }`
[Cache.txt](https://github.com/pamidur/aspect-injector/files/3648763/Cache.txt)

for example i want to use Microsoft Memory Cache and cacheMinutes equal 30 minutes and i want to set this settings on aspect.

[2019-09-24 18:18] pamidur commented on #105
Hi,
This is interesting case. So basically you have a situation where your $(IntermediateOutputPath) is a fullpath. I didn't account for that in aspectinjector.targets
It takes path to obj folder as $(ProjectDir)$(IntermediateOutputPath).

Although it is not clear from docs if this valid case, I'll try to fix this in the next release.

ps. ms docs says 'fullpath' but in examples everywhere it is r

[2019-09-24 18:30] pamidur commented on #106
Hi,

There is ```Argument(Source.Triggers)``` that you can use to get all the attributes that lead your aspect's advice to be triggered.

[code]

[2019-09-24 19:33] murseld commented on #106
thank you pamidur but i cant work it. because i need executing just one time  like RuntimeInitialize method on Postsharp. Because i have to get instance from CacheManager on this method.
I am sharing you postsharp code please review it because i want to left postsharp it is not working on linux os.

thank you..

[new_code.txt](https://github.com/pamidur/aspect-injector/files/3649056/new_code.txt)

[2019-09-24 21:24] ESolovova opened #107 "JetBrains dotCover can't read pdb-files produced by Aspect Injector"
dotCover considers pdb-files to be invalid:
[code]
It seems to me that the problem is caused by the **FluentIL.MethodEditor.Instead** extension which clears method body instructions, but doesn't clear method variables: https://github.com/pamidur/fluent-il/blob/cf245d3e7cb9dab3e72c08b847a7adc5f49d915b/src/FluentIL/MethodEditor.cs#L50

Because of that MonoCecil writes to pdb-files invalid scopes deb

[2019-09-24 21:32] ESolovova commented on #105
I guess that the problem with ReSharper Unit Test Coverage is caused by [this issue](https://github.com/pamidur/aspect-injector/issues/107).

[2019-09-24 21:53] pamidur commented on #106
The thing is that AspectInjector unlike Postsharp doesn't mess with your code in runtime. That is why "method initialization" is done on compilation.
Another difference is that attribute in AspectInjector in only a trigger. The life of the attribute instance
end on Advice method end. This means that you cannot store ref to cache manager in an attribute. But you can store it aspect itself.

Now asp

[2019-09-24 22:03] pamidur commented on #107
Hi,
Thanks for the report. Look like a bug. Will be fixed.

ps. do you know if there is any lib that I can use to check the validity of pdb at runtime (tests)?

[2019-09-24 22:09] pamidur opened #108 "Add new Scope option - PerMethod"
Effectively it makes a aspect instance per method. We can store such aspect in a field named by methodMetadata token

[2019-09-24 22:13] pamidur opened #109 "Add new Scope option - PerTrigger"
This scope is per trigger occurrence - store aspect in target field name after CustomAttribute metadat

[2019-09-24 22:13] pamidur opened #110 "Add new Scope option - PerTriggerType"
store aspect in static field of the attribute class

[2019-09-25 08:27] murseld commented on #106
Hi @pamidur
thank you very much its working.  this will be excelent then postsharp because you are the best :)
thanks for interesting...

[2019-09-25 08:28] #106 closed

[2019-09-25 08:58] pamidur commented on #106
I was glad to help, thanks for using AspectInjector!

[2019-09-25 13:06] ESolovova commented on #107
Unfortunately, no, I don't know, sorry. I use our own JetBrains pdb reader, but it's not public.

[2019-09-25 15:01] lanegoolsby commented on #105
Indeed it is. I was working with them through a support ticket.

[2019-09-25 15:26] lanegoolsby commented on #105
I looked through our csproj's and I do not see an explicit definition for the intermediate path so I don't think that's the issue. The only paths I see in there are Imports and HintPaths.

[2019-10-01 08:48] kargencW commented on #104
thank you very much

[2019-10-01 08:59] pamidur commented on #104
I'll reopen this issue so I can track improvement of this feature: being able to disable AI completely

[2019-10-01 10:07] kargencW opened #111 "is aspect class do aspect your self??"
[code]
this is my log aspect  for logging, its actually logged injected class when throws ,but has another log second time same throws

   at System.Net.Http.HttpClient.PrepareRequestMessage(HttpRequestMessage request)
   at System.Net.Http.HttpClient.SendAsync(HttpRequestMessage request, HttpCompletionOption completionOption, CancellationToken cancellationToken)
   at System.Net.Http.HttpClient.G

[2019-10-04 12:48] murseld opened #112 "Pass Generic Type And OnException"
Hi pamir
I know you hate me :) But
I am using this library for caching and  logging and its perfect going on memory cache with help you. but i want to use redis for cache and when i use it on method  i can not convert cache data on redis to method return data.
do you have an idea?
and how can i catch exception message when happened any exception on method?

Thanks

`[CacheAspect(typeof(RedisCacheM

[2019-10-04 13:30] pamidur commented on #111
Hi,
It is not enough info to reproduce and understand that, but my guess would be that you have two methods calling one another like this:
[code]
then you most probably applied logger to both of them like:
[code]
it in turn is converted into
[code]
then since exception is only logged, _but not catched_ it goes all the way back to first log call like this:
[code]
[code]
[code]
[code]

[2019-10-04 13:49] pamidur commented on #112
I absolutely not hate you :)

From your code I don't understand why you added OnExit advice which does the same as OnInvoke ?
Second question is what is ```cache.Get<>()``` method ? Is there method where you could supply the Type? like ```cache.Get<object>(string key, Type returnType)``` ?

if not you could create needed methodRef call like this:
[code]

[2019-10-04 13:50] pamidur commented on #112
If it doesn't work for you, drop me your ICacheManager class

[2019-10-04 14:48] murseld commented on #112
Hi Pamidur.
Thanks for help again and it is working exactly like I want..
now your first  question i am using OnExit because that write data to cache when method is complete  if there is no data from cache. Second question cache.Get<> is a method on CacheManager that i was added to attach.
So i ask top but i guess you dont see that. How can i  catch exception from aspect when method throw any exce

[2019-10-04 17:10] lanegoolsby commented on #105
I just had a thought that may be a clue. We are using AI in a shared library that is published to our internal NuGet repository. This means that AI is a transitive dependency for the project that is broken, not a direct reference.

So here's how our dependencies are setup

1. Internal project has reference to AI
2. Internal project is built in TFS then published to our internal NuGet repository
3.

[2019-10-04 19:45] pamidur commented on #105
The AI is indeed transient dependency. It allows your internal project consumers (like your broken assembly) use AI features. However it should not work any different from using AI directly.

I think the build log with verbosity=detailed might help investigation if you could drop one.

[2019-10-04 20:34] pamidur commented on #104
you can now use
[code]
to completely disable AI for specific configurations

released in 2.2.2

[2019-10-04 20:35] #104 closed

[2019-10-04 20:40] pamidur commented on #105
Please try version **2.2.2**. I've made intermediate path detection more robust, so it might help in case Test Coverage tool mess with msbuild variables.

and as a last resort you might tempopary disable AI for projects where you don't use its features, until we found a solution
[code]

[2019-10-05 16:29] pamidur commented on #112
well in your case the best solution would be one I suggested.

As for catching errors, I'd recommend to create new aspect for this specific purpose. If you want to catch exceptions in this aspect when calling original method, you do as usual:

[code]

[2019-10-05 16:54] murseld commented on #112
Hi Pamidur
I am grateful for your help
Thanks...

[2019-10-07 07:20] kargencW commented on #111
[code]
your universalwrapper was return default, i changed this line with throw, may be problem this is
is "return default" better? any defect will be with "return default"?

[2019-10-07 07:28] kargencW commented on #111
second error "System.Reflection.TargetInvocationException" can we accept, its not a problem for code flow.

[2019-10-07 07:28] #111 closed

[2019-10-07 08:09] pamidur commented on #112
You are welcome!
Feel free to reopen if needed

[2019-10-07 08:09] #112 closed

[2019-10-07 09:00] pamidur commented on #111
I just wanted to suggest a bit another approach in case you want to apply [Log] to everything and forget about it. First you can catch _TargetInvocationException_ and unwrap it. Second, you can wrap original exceptions in new exception class that contains information if this exception was logged or not.

[code]

[2019-10-08 11:21] kargencW opened #113 "Custom Exception problem"

[2019-10-08 11:23] kargencW commented on #113
this is my aspect class
[code]
and this is test code
´´´csharp
static void Main(string[] args)
        {
            try
            {
                method2();

            }
            catch (customexception)
            {
                throw;
            }
            catch (Exception)
            {
                throw;
            }
        }

        static void method2()
        {

[2019-10-08 11:40] pamidur commented on #113
Hi, for this you want to unwrap InvokationExceptions, like this:
[code]

[2019-10-08 11:41] kargencW commented on #113
[code]

this also cannot work, why inner customexception not working, any idea ?

[2019-10-08 11:42] pamidur commented on #113
Because they get wrapped by method.Invoke(). See my comment above

[2019-10-08 12:05] kargencW commented on #113
catch (TargetInvocationException te)
            {
                throw te.InnerException;
            }

solve my problem, thank you very much

[2019-10-08 12:05] #113 closed

[2019-10-08 16:22] lanegoolsby commented on #105
See attached. Anything in [ ]'s is stuff I had to scrub out.

[code]

[2019-10-08 16:23] lanegoolsby commented on #105
[code]
//cont...

[2019-10-08 16:24] lanegoolsby commented on #105
[code]

[2019-10-08 16:25] lanegoolsby commented on #105
[code]

[2019-10-09 11:07] pamidur commented on #105
Hi @lanegoolsby ,

Are you sure the issue is still there?, in your logs the injection is successful
[code]

[2019-10-09 11:51] pamidur commented on #107
Would you mind to check if v2.2.3 fix the issue, please?

[2019-10-10 14:38] lanegoolsby commented on #105
Yes, the issue is still there. As I noted earlier the unit tests and our aspect code works, this seems to only affect unit test runners and coverage tools.

[2019-10-11 10:01] pamidur commented on #105
I went through all the tests again. AspectInjector indeed had problems with LiveTests until 2.2.2. I can reproduce it.
However since 2.2.2 this is fixed. All unittest on MsTest, xUnit, NUnit in Live mode run successfully with AspectInjector enbled.

Could you please take a look again and tell me if I reproduced your issue correctly?

[LiveTests.zip](https://github.com/pamidur/aspect-injector/files

[2019-10-11 10:03] pamidur commented on #105
@lanegoolsby , btw, from you log files I can see you might still run 2.2.1

[2019-10-11 14:26] lanegoolsby commented on #105
W00t! 2.2.4 fixed Live Unit Testing for me! #107 is still an issue but this one appears to be fixed. Thanks!!

(Apologies about the logs, I was flipping between a bunch of branches yesterday, I must have forgotten to flip back somewhere along the way while writing the reply and copy/pasting logs).

[2019-10-11 14:26] #105 closed

[2019-10-11 17:00] pamidur commented on #105
I'm glad to hear that! I'm still working on #107 , however not being able to reproduce that makes it quite difficult :(

[2019-10-11 17:20] lanegoolsby commented on #105
I'm happy to help if want to push pre-release builds for me to try. I also tried pulling your code locally but got an error about being unable to restore FluentIL.Common so I can't compile it.

[2019-10-11 20:32] pamidur commented on #105
FluentIL is added as a submodule. you need to ```git submodule init``` and maybe replace ssh with https in .gitmodules before you can compile. I'll move FluentIL to separate nuget package soon so everything will get much easier :)

[2019-10-14 09:16] LaborJos opened #114 "An error occurs at compile time when the value of the optional argument is empty."
### Example
[code]
### Build Log
[code]

[2019-10-14 10:02] LaborJos commented on #114
### FluentIL/Cuts/Values.cs
[code]
A null check on the if statement will solve the problem.

[2019-10-14 10:46] pamidur commented on #114
Thank you for the report. I'll take a look asap

[2019-10-14 11:09] #114 closed

[2019-10-14 11:14] pamidur commented on #114
should be fixed in 2.2.5

[2019-10-14 14:48] pamidur opened #115 "Ensure works with netcore3 + AOT"
- preserve links in ```PublishTrimmed + PublishReadyToRun``` scenario
 - ensure omited external dependencies (netstandard2.0)

[2019-10-15 08:10] YuriyIvon commented on #103
Close with PR #116

[2019-10-15 08:10] #103 closed

[2019-10-17 20:13] pamidur opened #117 "Check parametrized trigget in around method"

[2019-10-23 18:48] lanegoolsby commented on #107
It did not

[2019-11-06 03:15] beckjin opened #118 "NETCore 3.0 AspectInjector : error AI_FAIL"
It was not possible to find any compatible framework version
  The specified framework 'Microsoft.NETCore.App', version '2.1.0' was not found.
    - The following frameworks were found:
        3.0.0 at [/usr/share/dotnet/3.0.100/shared/Microsoft.NETCore.App]

  You can resolve the problem by installing the specified framework and/or SDK.

  The .NET Core frameworks can be found at:
    - https://

[2019-11-06 03:16] beckjin commented on #118
Linux

[2019-11-21 16:23] jeremyj01 commented on #118
First of all, this Aspect-Injector is freaking brilliant!  Great job!

I'm having the same challenge when using a multi-stage build in docker based on Alpine Linux.

I'm trying to attack the problem by creating a docker image that has both SDK's in it, but so far I'm not having any luck.

[2019-11-21 16:50] pamidur commented on #118
Thanks for your interest. I'm actually thinking about releasing is standalone without any framework requirements.

Oleksandr Hulyi

________________________________
From: Axe Dad <notifications@github.com>
Sent: Thursday, November 21, 2019 5:23:05 PM
To: pamidur/aspect-injector <aspect-injector@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [pamidur/aspect-injector

[2019-11-22 16:36] jeremyj01 commented on #118
Actually, i was able to create a Dockerfile I could perform a multi-stage build with.  I've created a gist for it here:

https://gist.github.com/jeremyj01/b9b60a96a7498c8625b1192b3a979c08

[2019-12-06 18:42] murseld opened #119 "Multiple Aspect On Method"
Hello pamidur and  me again :)

When I want to use multiple aspect for example CacheAspect and LogAspect,
CacheAspect (if cache contains any data)  prevents the other LogAspect from using the Kind.After property  because log aspect is logging when method is complete.

How can I avoid this do you have any advice.
Thank you my friend..

        [CacheAspect(typeof(RedisCacheManager), 15)]
        pu

[2019-12-09 21:03] pamidur commented on #119
Hi @murseld ,
Aspect with Kind.Around effectively override any other kind. But you can use multiple Kind.Around aspects. Don't forget to set Injection.Priority

For these to work you need to implement all of yours concurrent aspects as Kind.Around.

I'll leave this issue opened as I think I could come up with how to make priorities "cross-kind" e.g. make all Before and After as part of another int

[2020-01-15 09:41] pamidur commented on #97
Blocked by https://github.com/jbevain/cecil/issues/639

[2020-01-17 15:07] Visagalis commented on #118
Using official MS docker image: **cr.microsoft.com/dotnet/core/sdk:3.1**

can't run CI via Docker:
[code]

It's quite big issue that this package has a hidden dependency on 'Microsoft.NETCore.App', version '2.1.0'.

[2020-01-17 15:46] pamidur commented on #118
Hi,
The AspectInjector is a netcoreapp2.1 executable, thus it requires dotnet core 2.1 installed.

I see that now since netcore 3.0 is release it starting to be an issue for netcore3.0 only containers. So I'll be looking on how to resolve it.
Until then you might alter you dockerfile in a way it installs netcore2.1 before compiling your app

[2020-01-17 18:12] pamidur commented on #118
@Visagalis , just to make it clear, it is not a hidden dependency. At least not at runtime. Netcore2.1 is required only to build time. This dependency doesn't leak to your code after it is built.

[2020-01-17 18:58] twistingmercury commented on #118
@Visagalis I ran into this issue a few months back.  I created a gist that will resolve the issue int a Dockerfile:

https://gist.github.com/jeremyj01/b9b60a96a7498c8625b1192b3a979c08

[2020-01-17 19:16] pamidur commented on #118
@Visagalis , @twistingmercury , could you please try version 2.2.6. I made it explicitly allowed to use any major runtime version installed. Let's hope new netcore runtimes don't bring breaking changes)

[2020-01-17 19:18] jeremyj01 commented on #118
Sure thing.  I’ll get to it this afternoon (PST).

-JJ

From: Oleksandr Hulyi <notifications@github.com>
Sent: Friday, January 17, 2020 11:16 AM
To: pamidur/aspect-injector <aspect-injector@noreply.github.com>
Cc: Johnson, Jeremy <Jeremy.Johnson@mcg.com>; Comment <comment@noreply.github.com>
Subject: Re: [pamidur/aspect-injector] NETCore 3.0 AspectInjector : error AI_FAIL (#118)

@Visagalis<https:

[2020-01-17 20:08] twistingmercury commented on #118
@pamidur it's working for me against .netcore 3.1!  Thanks!

[2020-01-18 19:17] pamidur commented on #118
fixed in 2.2.6

[2020-01-18 19:17] #118 closed

[2020-01-18 21:58] #99 closed

[2020-01-18 21:58] #97 closed

[2020-01-18 22:22] pamidur commented on #97
Fixed in https://github.com/pamidur/aspect-injector/releases/tag/2.2.7
@ColmBhandal  you should be able to use Scope PerInstance now
Sorry for such a long delay, the issue drills down to how (not obvious) mono.cecil works sometimes.

[2020-01-19 10:00] ColmBhandal commented on #97
Thanks!

On Sat, 18 Jan 2020, 22:22 Oleksandr Hulyi, <notifications@github.com>
wrote:

[2020-02-04 11:37] Feofilakt commented on #94
Hello!

Why?

[2020-02-04 12:36] pamidur commented on #94
Hi @Feofilakt , the reason is that I couldn't find another way around the limitation we have: at compile time we don't know about your container instance, it doesn't exist yet. So there are options:
- we bind container and aspects via some static resource (static method, AppDomain service etc)
- we add parameters to the constructor of target type so your container can inject aspects. However major

[2020-02-05 03:08] Feofilakt commented on #94
I found https://codereview.stackexchange.com/questions/20341/inject-dependency-into-postsharp-aspect and https://doc.postsharp.net/consuming-dependencies. So probably its because aspects are instantiated at build time (while I still don't understand how one can instantiate a C# class at build time).

[2020-02-06 15:43] pamidur commented on #94
These solutions all work the same way, everywhere you have some static resource to bind build-time and run-time:

static factory:
[code]
static func:
[code]

the same on Postsharp pages :(

[2020-02-17 23:24] backfromexile opened #123 "Aspect Injection throws AI_ERR0 with inner NotSupportedException on compilation"
The following code is part of an ASP.NET Core application and throws this error:
[code]

This is the code:
[code]

Am I doing something wrong here or can't I inject values into the attributes?
Also is there a reason I have to create two different classes for aspect and attribute if I want the attribute to have a not empty constructor?

[2020-02-18 08:33] #123 closed

[2020-02-18 08:38] pamidur commented on #123
Hi @backfromexile , thank you for the report!
Issue should be fixed in 2.3.1

[2020-02-18 09:30] pamidur commented on #123
FYI the issue was that when one uses ```params``` with enums the compiler creates an array of int instead of array of enums(value types), this totally makes sense however we haven't tested this scenario before

[2020-02-27 11:50] ozgursari opened #124 "error AI_ERR0: Processing failure: System.NotImplementedException: GenericInst"
Hi,
We have a problem with AspectInjector 2.3.1 in out .NetCore web application.
We used AspectInjector in our project for two months, and then we uninstall AspectInjector nuget package and delete codes using AspectInjector.
When we revert commit, AspectInjector added again but giving error while compiling project.

8>AspectInjector|2.3.1: Found 1 aspects, 209 injections
8>AspectInjector|2.3.1 : e

[2020-02-27 12:04] pamidur commented on #124
Hi @ozgursari , thanks for the report. It looks like a bug with either AspectInjector or Cecil.
Two questions:
1. What was the version you used before? If you rollback to that version does this issue exists?
2. Is there any chance you can share a parts of the code related to aspect you implemented and code where actual injection happens (injection targets). The issue is somewhere related to generi

[2020-03-12 16:51] IZaiarnyi opened #125 "Aspect Injector with Rider"
I'm new to C# and start my first project with Rider on MacOS.

I created the solution based on netcoreapp 3.1, installed AspectInjector Version="2.3.1" with the help of NuGet and build my source.
[TestProject1.zip](https://github.com/pamidur/aspect-injector/files/4325398/TestProject1.zip)

**Actual result:**
Aspect Injector processing has failed. See other errors

***Expected result:***
 The solut

[2020-03-12 17:58] pamidur commented on #125
Hi @IZaiarnyi , let's try to figure what goes wrong here!
First, last screenshot shots analyzers and issues that _could_ happen, so that won't help.
Could you try to go console, navigate to folder where *.sln is and execute 'dotnet build' there? It should reveal the real error.

[2020-03-12 22:15] IZaiarnyi commented on #125
Thank you for your quick response.
After executing 'dotnet build' I got this message

[code]
However,  I got a successful build when I tried to build it one more time with the help of Rider.
Currently,  I cannot reproduce the error with either  'dotnet build' or Rider build.

[2020-03-13 09:48] pamidur commented on #125
That's weird, because I've seen your project targets ```netcoreapp3.1```.
I guess I can be some weird issue with Rider itself. You can try to install sdk from here https://dotnet.microsoft.com/download/dotnet-core/2.1 and try again with ```dotnet build``

[2020-03-13 15:31] IZaiarnyi commented on #125
It is really weird I am not able to reproduce this error anymore. Probably, it is some setting of Rider that I missed configuring. I believe that we can close the issue and thank you for your help.

[2020-03-13 16:58] pamidur commented on #125
Always welcome! Feel free to reopen if happens again

[2020-04-05 15:36] EyalBenari opened #126 "Adding Property Value as Advice Parameter"
If an advice is Kind.After and the trigger is applied to a property, then it would be really helpful to get the property value as one of the advice parameters.

My use case is collecting metrics on properties with a custom attribute (the trigger) whenever set is called (with Kind.After). So currently I need to get the property value through reflection and it's a real performance hit.

[2020-04-06 13:47] pamidur commented on #126
Hi @EyalBenari ,
It used to be a feature of early beta, but was stripped from release because of some issues. If you help me find a consistent way to make it work, I'd happily introduce this feature back.
So the issues are:
- if try to read previous value in the middle of setting new value it results in recursive call and subsequently in stackoverflow
- we could read underlying value directly from

[2020-04-06 13:48] pamidur commented on #126
An just in case, if you don't need _previous value_ in setter you can do something like this:
[code]

[2020-04-06 15:43] EyalBenari commented on #126
The problem with argumets is that the setter function could manipulate the data before setting the value.

[2020-04-10 19:31] nicewk opened #127 "Add aspect attribute to target automatically"
Great job! It could be better if the Aspect attribute can add to the target automatically according to a config file.

[2020-04-10 19:44] pamidur commented on #126
Sorry, for delay, these days were too busy despite quarantine.
If you want to manipulate the value you can do with Kind.Around. Basically the Kind.Around is superior to every other option because it wraps the actual method call.

[code]

[2020-04-10 19:45] pamidur commented on #126
Or I maybe understood you wrong,.. and  you want to prevent setter advice from manipulating the value?

[2020-04-10 20:04] pamidur commented on #127
Hi! Thanks!
I'm actually working on something like this. But the idea is not the config file but kinda fluent loader. So you'll be able to do something like:
[code]

This might be useful if don't own target assembly. E.g. test loader or custom application loader/partcher.

If you instead own target assembly you can use *Propagate* feature like this:
[code]
And then apply it to assembly
[code]

Let

[2020-04-10 20:08] EyalBenari commented on #126
What I'm saying is that I can't trust the setter function to not do something before setting the value.
A custom set function would make this approach irrelevant:

public class TestClass
{
    private int test;
    public int Test {get => test; set => test = value * 2;}
}

What I need is the actual value after the set function has completed without using reflection to get it.

[2020-04-10 20:21] pamidur commented on #126
I got your point,.. the thing is you can't trust it actually sets backing field at all.
like
[code]

This is the issue I described a few comments earlier. With custom properties we don't know _what_ is the value after Setter is executed. The only (non reliable way) is to call Getter (which might be absent btw) but the value it returns might have nothing to do with value that was set before.

[code

[2020-04-11 00:02] EyalBenari commented on #126
Maybe it's best if I only support automatic properties for updating values based on calls to setter. Then find another solution for other cases. I just hoped code injection voodoo magic could be used to get the value in another way.
By the way I would love to look at the code and maybe help in a few weeks.

[2020-04-11 08:53] pamidur commented on #126
That's it, if we go for automatic properties only (where setter is just setter), then current approach with *arguments* works pretty well.

I wish it was voodoo magic :) You are more then welcome to contribute to code or to with ideas!

[2020-04-11 20:34] nicewk commented on #127
Thanks @pamidur. That makes sense. I will try it.

[2020-04-12 10:26] pamidur commented on #119
Hey @murseld , I have recently implemented Cache aspect. Could you please take a look and see if it can suit your needs?
https://github.com/pamidur/aspect-injector/tree/master/samples/src/Cache

I'm asking as you're the one with real cache problem need to solve.
Would be great if you take a look :)

[2020-04-12 15:01] murseld commented on #119
Hi pamidur
it was great. thank you very much...

[2020-04-30 10:57] pamidur commented on #119
Hi @murseld , I've created new prerelease 2.4.0-beta1. I changed weavers priority in it. So Before/After are always injected even when other aspect with Around is used. You may try it!

[2020-06-16 13:23] pamswam opened #128 "How to Inject TelemetryClient (with autoflush) or pass any other runtime object to the aspect (.net core 3.1 console app)"
Hi there,
Please can you show some light on how to pass runtime objects (or create and manage logger inside the aspect, ideally a singleton)

Writing to Console.Writeline works, however in production, writing to console is not sufficient.

Many thanks!

[2020-06-16 14:06] pamidur commented on #128
Hi @pamswam,

Ok let's see what options we have:

**Option 1**: Create and manage logger inside aspect:

This is quite easy provided you use global aspects. Global aspects are singletons by themselves. So everything you create in their constructor are singletons as well.
[code]
You can still use ```Scope.PerInstance``` but then make sure you manage your instance TelemetryClient properly (e.g. crea

[2020-06-16 14:09] pamswam commented on #128
Awesome! Will give a try!
Thank you the super quick response and thanks a bunch for this awesome library!

[2020-06-16 14:25] pamidur commented on #128
Thanks for using it, it encourages me to develop it further. Feel free to share your questions, feedback and feature requests!

[2020-06-25 08:07] KKacer opened #129 "Error handling features"
Hello,
As an old Postsharp user, I believe it is a nice piece of software.
Was watching the growth of this project in the past months, now want to try it.
Before the beginning, have 2 simple questions:
1. Does it support error-handling?
Something like:
[CatchErrors] or [LogErrors]

2. Can we use dashes in the aspect names?
[Catch-Errors] ?

**Something to note:**
The Mixin Effect page in your Docs

[2020-06-25 11:15] pamidur commented on #115
done

[2020-06-25 11:15] #115 closed

[2020-06-25 11:26] pamidur commented on #129
Hi @KKacer ,
1. Aspect-Injector is framework that allows you to create your own crosscutting features like error handling.
You can find examples [here](https://github.com/pamidur/aspect-injector/issues/113) and [here](https://github.com/pamidur/aspect-injector/blob/master/samples/UniversalWrapper/UniversalWrapper.cs). Of course you can modify them to behave the way you need. Log exceptions, mute t

[2020-06-25 11:47] KKacer commented on #129
Think those 2 links could be useful on this case, and will look and study them.
Anyway a simple official sample will put any new user in the correct path.
Thanks for the reply and guidance,

Regards.

[2020-06-25 12:13] pamidur commented on #129
Good point, we'll need to make more samples that are plug and play like [Cache](https://github.com/pamidur/aspect-injector/tree/master/samples/src/Cache) for example, so you can get it from Nuget. However the [last](https://github.com/pamidur/aspect-injector/blob/master/samples/UniversalWrapper/UniversalWrapper.cs) one I mentioned in comment above, is official sample,. The reason it is not release

[2020-06-25 12:26] KKacer commented on #129
You can provide the very basic usage and most common ones,
That was also one of the very first Postsharp examples as well.

I guess catch errors and log them could be called a very basic scenario.

Regards.

[2020-06-25 12:32] pamidur commented on #129
Very basic one would be like this:
[code]

Usage
[code]

[2020-06-25 12:42] pamidur commented on #129
Please let me know if it helps, and if it does, where would you expect to find this information? One [this ](https://github.com/pamidur/aspect-injector/tree/master/samples)page, precompiled in nuget package or in readme file that opens ones you install the aspect-injector, or some other place?

[2020-06-25 14:06] KKacer commented on #129
Sure,
will try it.
Thanks for the example.

[2020-06-30 18:10] vdurante opened #130 "Get method name that called a constructor"
I am attempting to implement an Aspect/Advice that targets a constructor capable of getting the name of the method that is instantiating an object of that class. Is it possible to do so?

[code]

[2020-06-30 18:32] YuriyIvon commented on #130
You can try using StackTrace class like in this example:
[code]

[2020-07-01 15:24] vdurante commented on #130
@YuriyIvon thank you. I was trying to avoid using StackTrace and thought maybe with AspectInjector there would be another way around. Thanks.

[2020-07-01 15:24] #130 closed

[2020-07-31 10:51] 777AvEnGeR777 opened #131 "Build is failed if project has COM reference"
I have a project that references NetFwTypeLib COM reference.

When I try to build the project, AspectInjector failes with the following error:
"Reference not found: 'obj\Debug\Interop.NetFwTypeLib.dll'. Please submit an issue to https://github.com/pamidur/aspect-injector"

The dll exists in obj\Debug folder. If I will remove the reference, the project will be built successfully.

I've also tried t

[2020-07-31 19:43] pamidur commented on #131
Thanks for report!
I'll take a look shortly

[2020-07-31 20:30] pamidur commented on #131
should be fixed in 2.4.1

[2020-07-31 20:30] #131 closed

[2020-07-31 20:35] pamidur commented on #124
I couldn't reproduce the issue.
If you a have chance to share more details or sample project - please reopens this issue!

[2020-07-31 20:35] #124 closed

[2020-07-31 20:37] pamidur commented on #107
There were some changes recently, could you please check it against 2.4.1 if this issue is still relevant

[2020-08-03 17:26] lanegoolsby commented on #107
The issue is not resolved.

[2020-08-05 18:59] GioviQ opened #132 "Some docs errors and question"
Hi,
https://github.com/pamidur/aspect-injector/blob/master/docs/mixin.md link is broken.

In https://github.com/pamidur/aspect-injector/blob/master/README.md

implementaions -> implementations

I found your project because it is for a while that I would like to introduce in a Blazor project some AOP.

I looked around Fody but your project seems much more clear and clean.

The problem is that I can

[2020-08-05 19:44] pamidur commented on #132
Hi @GioviQ , thank you for your interest in this project!

I must agree that the current state of documentation is rather embarrassing, some pages are missing, many errors aren't described. I will try to make docs look better in near future.

There was another example of usage with IoC container which would be more relevant to Blazor here #128 .

**Fody**. Fody is great. Although it serves slightl

[2020-08-06 16:52] GioviQ commented on #128
I started with UniversalWrapper sample with logger injected as above.
But in static method WrapAsync I cannot use not static variable.
Sure I am missing something...
Are statics in UniversalWrapper mandatory?

[2020-08-06 17:07] pamidur commented on #128
@GioviQ , statics aren't mandatory at all, feel free to make them instance methods.

[2020-08-06 17:13] pamidur commented on #128
There are a few mandatory things in AspectInjector e.g. 'Around advice should return object', but these limitations are enforced by both compiler and roslyn analyzer. So as a rule - if anything compiles successfully - it is valid code for aspect injector :)

[2020-08-06 20:22] GioviQ commented on #128
Thank you @pamidur  it's working now. See https://github.com/enkodellc/blazorboilerplate/blob/development/src/Server/BlazorBoilerplate.Server/Aop/ApiResponseExceptionAspect.cs

Maybe it can be written with less code.

[2020-08-06 20:57] pamidur commented on #128
@GioviQ Looks good to me. Currenty I am afraid this is least possible amount of code, although we have plans for generic Around advices for future releases.

[2020-08-07 10:47] ittyabrehman opened #133 "Getting Errors when Compiling Source Code in Visual Studio 2019"
**Hi pamidur** ! first of all **thanks** a lot for designing such a great aop solution. I just fork your source code and i am getting errors when hit to build solution. Below screenshot of some errors.
![image](https://user-images.githubusercontent.com/32015354/89637724-15d9b400-d8c4-11ea-82fb-443772feb0da.png)

[2020-08-07 10:54] pamidur commented on #133
Hi @ittyabrehman , well I guess it is time for me to write a CONTRIBUTION GUIDE :)

In order to build app you need to initialize FluentIL submodule with
[code]

I'm not sure but you may need additionally change the submodule url in **.gitmodules** from ssh ```git@github.com:pamidur/fluent-il.git``` to https ```https://github.com/pamidur/fluent-il```

I have moved code responsible for low level CIL

[2020-08-07 16:13] ittyabrehman commented on #133
@pamidur Issue resolved. Thanks for your guidance

[2020-08-07 16:13] #133 closed

[2020-08-07 17:34] KKacer commented on #129
Hello,
Back to this question, cause of my current scenario:

In the current provided sample:
1. How can I find that what was the type of the target (the attribute consumer, was that a method or property or a class) ?
2. If that was a method, how to find out the method name?
Should we add more arguments, like the below line? :

`[Argument(Source.Name)] string name, ... `

Can you please change the

[2020-08-07 18:00] pamidur commented on #129
It is easy, use ```Source.Metadata```. It will give you MethodBase object from which you can get name, and if it was property setter or event.
Alternatively, you may have separate advice for Methods and Properties. It is done by [Advice(... Target=Properties)]
I'll try to make you a good example one's I get to computer

[2020-08-07 18:21] KKacer commented on #129
Thanks, guess I know the second approach, but prefer to see the example about the first one once you were able to, appreciate it.

[2020-08-08 13:01] KKacer commented on #129
I thought you still wanted to add something here.
I added these:

[code]
which seems wrong, I may need to use them in the Arguments section, right?
`Argument(Source.Name)]  // not sure if it will give the caller method's name.`

[2020-08-08 15:30] pamidur commented on #129
Performant way
[code]

All in one way
[code]

[2020-08-08 15:48] KKacer commented on #129
Thanks @pamidur , great help.
Like the second approach more.
Have 1,2 questions more which may ask in new tickets.

[2020-08-08 15:48] #129 closed

[2020-08-08 16:30] KKacer opened #134 "Compiling the code"
Earlier was trying to compile your code, to learn more about it.
`FluentIL `and `FluentIL.Common` was missed.
If think that `FluentIL `is the last release of that component in Github but still I couldn't find `FluentIL.Common`.
Can you provide it here.

Regards.

[2020-08-08 17:03] pamidur commented on #134
Hi @KKacer , this is probably duplicate of #133 . Please take a look at that issue and let know if it helps

[2020-08-08 17:57] KKacer commented on #134
Fine, will try it, guess it will solve the issue.

[2020-08-08 18:25] KKacer opened #135 "A naming conflict with Serilog.Log if name the attribute as Log"
I have this code:

    [Aspect(Scope.Global)]
    [Injection(typeof(LogCall))]
    public class LogCall : Attribute
[code]

As the `Log.Information` is part of **Serilog**, it will conflict if I want to make the attribute named **Log** not **LogCall**, though I prefer to name it as **Log**.
Do you know a simple way to be able to name that attribute just **[Log]**?

Regards.

[2020-08-08 20:31] pamidur commented on #135
Yes, remove Serilog from usings at the top of the file, and use full namespace in place, like:
[code]

[2020-08-09 06:39] KKacer commented on #135
Aha! :D right, forgot that could use it this way.

[2020-08-09 07:13] KKacer commented on #135
Changed that but found that it will conflict with all the logs inside all the libraries, if the name was LogAttribute it could prevent that. but currently I decided to use another name instead of Log to prevent the need to change all the Log.Somethings in the codes.

[2020-08-09 07:13] #135 closed

[2020-08-09 07:17] pamidur commented on #135
Why not rename it to LogAttribute or LogCallAttribute?

[2020-08-09 07:30] KKacer commented on #135
Still didn't try LogAttribute which guess will work, at first thought maybe it is not possible via your code or you don't suggest that, cause you didn't use 'Attribute' in the names, guessed may cause some troubles in your library, e.g if you were trimming names, ...

Update: yes, attribute fixed the issue with naming conflicts.

[2020-08-09 07:59] pamidur commented on #135
@KKacer it is just personal preference - not to use ...Attribute suffix.
As for AspectInjector - it is designed in a way _"if it compiles - it is valid code for AspectInjector"_

[2020-08-09 09:24] KKacer commented on #135
Yes got it, said that just to clarify why I worried and avoided using 'Attribute' at first, but as you said it worked. All fine, thanks.

[2020-09-23 17:07] arontsang opened #136 "Use ReadOnlySpan instead of Array for argument"
This would reduce the heap allocation per injection, which would help with performance.

[2020-09-23 17:10] arontsang opened #137 "Metadata argument should be cached for performance"
A reflection call on each invocation limits performance when using the metadata argument.

[2020-09-24 08:48] pamidur commented on #136
Hi @arontsang!
Do you mean advice argument ```Attribute[]``` and use ```ReadOnlySpan<Attribute>``` instead to avoid allocations for the collection itself?
If yes, then my thoughts are that I'm not sure it worth it, because: 1. Attribute objects allocations > array allocation , 2. Need to support both ```Attribute[]``` and ```ReadOnlySpan<Attribute>``` api

The issue with attribute objects - they a

[2020-09-24 09:14] pamidur commented on #137
Hi @arontsang , you are right. Actual benchmarks show that performance difference is big enough.
[code]

Please feel free to contribute!

[2020-09-29 06:44] arontsang commented on #136
Hi Pamidur,

I mean for

[code]

The line `[Argument(Source.Arguments)] object[] args` will require the injected code to construct/allocate a `object[]` array. This of course will need to be collected.

Not sure how much of an impact it adds. But if that was replaced with a `ReadOnlySpan<object>`, we would be able to `stackalloc` the `object[]` instead of heap allocate. This would of course be pop

[2020-09-29 09:16] arontsang commented on #136
Come to think about it. You can still stackalloc your `object[]`. But it would make the code `unsafe`.

[2020-09-30 01:35] arontsang commented on #137
I tried to contribute this feature, but unfortunately, it is a little too complicated.
I found that my FieldAccessors for classes nested in a generic class failed

[code]

[2020-10-09 21:40] pamidur commented on #136
I was thinking about it. What if we preallocate object[] on the heap and then reuse it? This way:

- allocation happens only ones per method
- api still has object[] which values can be modified by aspect (the way it was designed)

[2020-10-09 21:50] pamidur commented on #137
Sorry for delay, was on vacation)

Yes - generics are tricky, half of all bugs in this project are generics related.

For example you can take a look at [here](https://github.com/pamidur/aspect-injector/blob/734241dcf5bb5ef98e5e039765d624daac7f6a7a/src/AspectInjector.Core.Advice/Weavers/Processes/AfterStateMachineWeaveProcessBase.cs#L34)
But if it doesn't help I will definitely add this feature in

[2020-10-11 10:50] arontsang commented on #136
- You would have to allocate a ThreadLocal per method. For frameworks that spawn threads like a Java process, this could leak...

- There would be nothing that prevents 'use after recycle' (unlike with `Span<object>` where the `ref struct` prevents that. The user could copy the Span to the heap manually. Additionally, I always though the design was the modify the `object[]` then pass it to the `Fu

[2020-10-11 14:23] pamidur commented on #136
agree to both. I do think ReadOnlySpan makes a lot of sense. It could be probably an option for user to decide which API to use. And it will simplify things around references if user already references System.Memory.
This being said I can see the following feature description:

For ```Source.Arguments`` advice argument user should be able to choose either use object[] of ReadOnlySpan[].  Weaver pr

[2020-10-12 10:46] arontsang commented on #136
For your "around<T>", nothing stops the user from trampolining from a
synchronous function that returns a Task to an async function. The only
"step" they need to take before take off, would be to call
ReadOnlySpan<object>.ToArray(), which explicitly allocates stack array
(which is unavoidable with Task).

On Sun, 11 Oct 2020, 22:23 Oleksandr Hulyi, <notifications@github.com>
wrote:

[2020-10-15 02:07] arontsang commented on #137
Here is my attempt at this.

As I said before, it is failing on generics.

At present, things that aren't done:

1. Name mangling, for overloads (each overload sig needs a unique Field)
2. Short circuit code for generic functions (as opposed to generic classes), since it would be crazy to cache all variations of T.
3. Add tests for classes that both have and lack static constructors.

AdviceWeaveP

[2020-10-15 10:39] pamidur commented on #137
Hi @arontsang
Well done! Could you make it a PR ?
Regarding missing things:

- Naming can be done the same way it is done for around method -> Take metadata token as method name
- For generic methods - idk - store generic<> cache and make generic<T> on call? Yes - slower, but easier

[2020-11-12 11:54] oleksandrp1 opened #138 "Edit & Continue Support | CS7038"
Hi, Thank you for your package. It is very useful, but after adding it to my project I cannot change my code during the debugging session. Each time I receive the following code after a change of at least one symbol:
CS7038	Failed to emit module 'project name': Changing the version of an assembly reference is not allowed during debugging: 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyTo

[2020-11-12 11:57] pamidur commented on #138
Hi @oleksandrp1 , do you mean "edit and continue feature"?

[2020-11-12 12:34] oleksandrp1 commented on #138
![image](https://user-images.githubusercontent.com/23483761/98940740-1b165280-24f4-11eb-9371-66259181c509.png)
I receive the following message.

[2020-11-12 12:41] pamidur commented on #138
Thanks for the report, I'll look into it

[2020-11-12 12:52] oleksandrp1 commented on #138
The error disappears if I remove and install the package again. But the error appears after the second launch of the Visual Studio,

[2020-11-20 20:04] pamidur commented on #138
I've found the cause of the issue, but can't figure how to fix it at the moment :(

[2020-12-24 11:41] levdimov opened #140 "Generic class with constructor chain cannot be processed"
_First of all, thank you for you library! It seems like we may drop our own code and replace it with this beauty._

---

Generic class (abstract or not) with constructor chain cannot be processed if aspect is set on a class declaration.

Similar to https://github.com/pamidur/aspect-injector/issues/38

Here is an example based on ArgumentsTests:

[code]

[code]

[2020-12-24 11:55] levdimov commented on #101
Hello!

I am facing the same problem right now trying to migrate to this library. I have a base class and I want all final inheritors' methods to be infected with given Aspect.

[2020-12-24 12:22] pamidur commented on #101
Hi @levdimov , have tried add ```Inherited=true``` with your injections?
[code]

[2020-12-24 12:34] pamidur commented on #101
Hi @levdimov , I see your point! But this feature is not implemented yet. For now you need to explicitly put injection attribute to every class in the inheritance tree.

Thank you for your feed back! We will prioritize this feature higher!

[2020-12-24 12:43] pamidur commented on #140
Thanks for the report, I'll take a look shortly! I honestly hoped I have ironed all generic-related issues with fire long ago :)

[2020-12-28 18:40] pamidur commented on #140
should be fixed in release 2.4.2

[2020-12-29 11:28] levdimov commented on #140
Unfortunately, inheritors from base class above with another aspect doesn't work now with failing the same error.

[code]

[2020-12-29 12:59] matt-cochran opened #141 "AspectInjector|2.4.2 : error AI_ERR0: Processing failure: System.IO.IOException: The process cannot access the file *.pdb' because it is being used by another process."
I have a solution with over 80 projects and am finding file io contention during the build in github on umbuntu (latest).  It works fine when I build locally in windows both through Visual studio and the `dotnet build` command.

[2020-12-29 14:01] matt-cochran commented on #141
callstack:

at System.IO.FileStream.ValidateFileHandle(SafeFileHandle fileHandle)
     at System.IO.FileStream.CreateFileOpenHandle(FileMode mode, FileShare share, FileOptions options)
     at System.IO.FileStream..ctor(String path, FileMode mode, FileAccess access, FileShare share, Int32 bufferSize, FileOptions options)
     at System.IO.FileStream..ctor(String path, FileMode mode, FileAccess acc

[2020-12-30 10:56] pamidur commented on #140
Alright, I reopen the issue!

[2020-12-30 11:39] #140 closed

[2020-12-30 11:46] pamidur commented on #140
@levdimov could you please try v2.4.3 ?

[2020-12-30 11:55] pamidur commented on #141
Hi @matt-cochran , thanks for your report and PR!
Do you use any other tool except AspectInjector? The reason I'm asking is that AI plugs itself the following way:
[code]
Thus it might happen than some other tool does the same and tries to access same pdb file in parallel

[2020-12-30 12:25] pamidur commented on #141
@matt-cochran , Could you also check if v2.4.4-pre1 makes any difference?

[2021-01-12 10:44] levdimov commented on #140
Sorry for late response.

2.4.3 seems to work well. No problems as of yet.

[2021-01-20 11:49] hectorjsmith opened #142 ""Specified method is not supported" error after upgrading to 2.4.3"
First off, thanks for the great work. This library is really useful 👍

---

I recently updated the AspectInjector library on one of my projects from version `2.2.5` to `2.4.3`. I made no changes to any of the aspects or the injections. But as soon as I try to build the project with the new version, I get the following error:
`AspectInjector|2.4.3 : error AI_ERR0: Processing failure: System.NotSupp

[2021-01-20 13:15] pamidur commented on #142
Thank you for feedback and report. I'll take a look and get back to you shortly

[2021-01-20 13:36] pamidur commented on #142
I've investigated this issue a little. It looks some kind of regression with generic constraints. I've also tried to reproduce it without success tho. You could help by finding and sharing your most weird/complex generic constraints.

[2021-01-20 15:01] hectorjsmith commented on #142
Thanks for looking into it so quick.

I had a quick look around and I think the strangest/most complex generic constraints we use are recursive generics. We use them in places to allow interface methods to return their own type - e.g. for method chaining.

I simplified it down a lot so that this example hopefully makes some sense.

[code]

[2021-01-20 17:24] pamidur commented on #142
Thank you for sharing. I actually was able to reproduce this(or similar) issue. I'll be looking into how to fix, however I'm afraid I have to ETA for a fix, you might want to stay on 2.2.5 until then :(

[2021-01-20 17:50] hectorjsmith commented on #142
No problem, thank you for working on a fix. I'll keep an eye on this issue for any updates  :+1:

[2021-01-21 13:19] pamidur commented on #142
@hectorjsmith , could you please test v2.4.4-pre4 ? It should fix the issue

[2021-01-21 14:45] hectorjsmith commented on #142
I tested out `v2.4.4-pre4` but I still have the same issue  :/
The good news is that I was able to narrow it down to a single function.

I can reproduce the issue with the interfaces/classes below:

[code]

[2021-01-21 15:31] pamidur commented on #142
Could you please also share your ```MyAspect``` definition?

[2021-01-21 15:57] hectorjsmith commented on #142
You can find the exact aspect definition were are using [here](https://gitlab.com/hectorjsmith/csharp-performance-recorder/-/blob/v0.4.0/PerformanceRecorder/Attribute/PerformanceLoggingAttribute.cs).

The pieces I think you will be most interested in are below for reference.

[code]

[2021-01-21 16:22] pamidur commented on #142
Thanks, I narrowed it down to 'Around' Advice. I can reproduce it now!

[2021-01-22 14:37] #142 closed

[2021-01-22 14:42] pamidur commented on #142
@hectorjsmith , could you please test **v2.4.4-pre5** ?

[2021-01-22 15:13] hectorjsmith commented on #142
`v2.4.4-pre5` works perfectly! Thank you for the quick resolution  :+1:

[2021-01-22 15:26] pamidur commented on #142
Thanks for helping make this project better!

[2021-01-30 18:06] zejji opened #143 "Interface Triggers"
Consider the following interface:
[code]

By creating the following aspect, it is possible to automatically call the `CheckPermissions()` method prior to any method call within a class that implements `IRequiresPermissionCheck`:

[code]

Is it possible to restrict an aspect so that it can only be applied to classes implementing a certain interface, i.e. a via a compile-time check rather than throw

[2021-02-01 10:24] pamidur commented on #143
Hi @zejji , as of now there is no such possibility.
I will make this issue to be FeatureRequest.

Could you please give some info?
Is ```IRequiresPermissionCheck``` in your control and you can modify it? Like
[code]

[2021-02-01 14:36] pamidur commented on #101
Please refer to #143

[2021-02-01 15:19] pamidur commented on #143
with **v2.5.0-pre1** you could try something like the following

Please note:
*  This pre-release is early design and might be changed
* You need either ```PropagationFilter``` or additional check in your advice to avoid StackOverflow calling CheckPermissions->CheckPermissions->CheckPermissions...

[code]

I'd like to hear feedback. Please let me know how it works, is it convenient or not

[2021-02-01 15:43] pamidur commented on #101
This feature will have separate implementation, independent from Interfaces

[2021-02-03 05:51] zejji commented on #143
@pamidur - Many thanks for getting back to me - much appreciated!

I tried the approach you suggested (using the metadata check on the basis that it is more readable) and can confirm it works successfully.

I terms of design, I wonder whether the `CompileTimeValidate` approach used by PostSharp might be cleaner? I had three specific thoughts regarding the implementation, some of which are related

[2021-02-03 09:22] pamidur commented on #143
So in fact I understood you wrong from the very beginning. It might be because I was thinking about InterfaceTriggers long before :)

What you need is -> Aspect injection is still triggered by an Attribute. However it is only applied if a target has specific Interface implementation.
Why not simply ignore other targets?

[code]

For InterfaceTriggers feature:

1. Agree
2. Recursion is only there b

[2021-02-03 17:38] zejji commented on #143
@pamidur - Thanks for your reply. The reason I though it preferable not just to ignore other targets that don't implement `IRequiresPermissionCheck` is that I would prefer to catch any inappropriate usage of the attribute at compile-time rather than runtime if possible. However, I completely understand your issues with the `CompileTimeValidate` idea.

One final thought - although I haven't had a c

[2021-02-03 18:36] pamidur commented on #143
I was thinking about additional **Propagation** options to allows only certain types, like ```PropagateToTypes=[typeof(IRequiresPermissionCheck)]```. This should work for methods too, restricting by return type. But it won't throw compile time error, it will just ignore incorrect attribute assignment attempts.

So for restricting targets I think it is possible (won't break anything) to add new fie

[2021-02-09 15:33] contractcooker commented on #125
I am having this same issue. I can build via terminal with dotnet build but not from within rider. Curious if anyone has figured out the root cause here.

[2021-02-09 18:31] pamidur commented on #125
Try building this csproj alone:
[code]

If it doesn't then the reason is that the Rider screws environment variables when it triggers the build.
Basically when the build starts the Rider creates another shell process without copying envs

[2021-02-09 18:37] pamidur commented on #125
You may want to compare outputs of
[code]
and
```dotnet build``` this:
[code]

[2021-03-05 13:26] MaciejWanat opened #144 "Caching doesn't work with scoped DI instances"
I've been recently looking for a library for simple, effective caching using attributes, and your library with `cache` extension does pretty much exactly what I've been looking for.

The problem I've encountered is that I've used it with pretty standard ASP.NET application, with multiple sercives registered as `scoped`. In this quite standard scenario caching doesn't work, because `cache key` in y

[2021-03-05 13:33] pamidur commented on #144
Hi @MaciejWanat , your suggestion does sound good! What about using type instead of instance? it'll have about the same entropy but will still work with different instances.
I'd happily accept your PR!

Thank you for your interest in this project

[2021-03-05 13:51] MaciejWanat commented on #144
Great! I will prepare a PR soon.

[2021-03-05 14:22] StefH opened #145 "Is it possible to create a common Aspect which exposes callbacks methods for OnBefore, OnException ..."
Nice project BTW!

I would be very useful if it was very easy to just extend a class from a pre-defined Aspect and just override some virtual methods.

This idea is based on https://doc.postsharp.net/exception-handling

So that it can be used like this:
[code]

Or

[code]

I've tried to build a pre-defined Aspect based on https://github.com/pamidur/aspect-injector/tree/master/samples/UniversalWrap

[2021-03-05 14:39] pamidur commented on #145
Hi @StefH , thank you for your interest in the project!

What you're suggesting is a good looking feature, which is, I'm afraid, impossible in the moment. Or at least impossible the way you see it. The reason is that currently you one cannot inherit an Aspect without loosing it's magic, because the aspect injector doesn't look into base classes for Advices.
It should not be hard to improve. I'll a

[2021-03-05 14:52] pamidur commented on #144
I was thinking we could ither move key calculation to attribute or just add additional parameter to indicate if cache should be per instance:

[code]

Other option is to move key calculation to the attribute:
[code]

[2021-03-05 15:09] pamidur commented on #145
Nah, I figured better way:
Define common aspect like this
[code]

and then usage
[code]

[2021-03-05 15:33] StefH commented on #145
Thanks.

1. "The only downside is that you have to mark all your attributes with [Injection(typeof(UniversalWrapperAspect))]" --> for me that's no downside, this sounds logical to me.

2. The warpper does have `[Aspect(Scope.Global)]`. Is it still possible to overwrite this with "Instance", if yes, then how?

[2021-03-05 16:02] pamidur commented on #145
```[Aspect(Scope.Global)]``` only applies to Aspect itself and it controls whether aspect instance is bound to target instance.
```[Aspect(Scope.PerInstance)]``` only makes sense if your aspect class has some instance data that you want to stick with target instance.

In the above example I cannot see how ```PerInstance``` changes anything, you can mark aspect as ```PerInstance```  but the only di

[2021-03-05 17:14] MaciejWanat commented on #144
This failed test is passing when ran directly, doesn't when tests are run altogether.

[2021-03-05 17:45] StefH commented on #145
I think your proposed solution fits my scenario.

Updated code:
[code]

Maybe you can add this functionality to a new NuGet package ? The same as you did with `Cache`?

[2021-03-05 19:13] pamidur commented on #145
Great idea! We could create a library with this and similar base-aspects!
Would you like to participate? PRs are welcome!

[2021-03-06 08:34] StefH opened #147 "Enhancement: Make it possible to bind all arguments to a complex object"
Currently you have to specify each Argument separately:
[code]

It would be very useful to be able to just do this:
[code]

[2021-03-06 10:59] pamidur commented on #147
Hi @StefH , this is not a hard thing to implement, and was chosen not to because of performance reasons - providing such object will require to calculate all the properties even if those aren't used.

Could you please provide your reasoning for this enhancement so we could take a look at it from another point of view?

[2021-03-06 18:17] #144 closed

[2021-03-07 08:00] StefH commented on #147
This is related to https://github.com/pamidur/aspect-injector/issues/145

When I want to build a generic aspect which can handle many scenarios, I probably need all Argument-sources because I want to expose as much as information as possible to the `OnXXX` methods to the caller.

(I'll create a PR to indicate what I've in mind....)

[2021-03-07 08:00] StefH commented on #145
(I'll create a PR to indicate what I've in mind....)

[2021-03-07 08:54] StefH commented on #145
I've made work in progress PR which highlights the logic how this generic functionality can be build.
https://github.com/pamidur/aspect-injector/pull/148

(Not yet tested if this runs correctly...)

[2021-03-08 15:03] pamidur commented on #143
Released in 2.5.0

[2021-03-08 15:03] #143 closed

[2021-03-08 15:57] zejji commented on #143
Great - thanks for the heads-up. Will give this a try!

[2021-03-11 10:12] pamidur opened #149 "Introduce new [IgnoreAspectsAttribute]"
If ```[IgnoreAspectsAttribute]``` is set to ... , then ...:

- Set to method - not inject into this method ever
- Set to virtual method in base class - not inject into any overrides
- Set to interface method - not inject into implementation

[2021-03-23 20:29] oleksandrp1 commented on #138
Hi pamidur. After update to 2.5.0 version, the following warning message appears during debugging. The problem disappears if I remove the package.
![image](https://user-images.githubusercontent.com/23483761/112213794-1fcbdf80-8c27-11eb-8868-dceb41e47afb.png)

[2021-03-23 20:53] pamidur commented on #138
hi @oleksandrp1 , do you use 'Edit&Continue' feature ? and if no, could you provide a bit more information. maybe sample code?

[2021-03-23 21:07] oleksandrp1 commented on #138
Yes, I use 'Edit&Continue' feature.

[2021-03-23 21:12] pamidur commented on #138
The weird part that is should also fail in 2.4.3 then! And you're saying it doesn't. Very interesting!
Is there any chance you could provide code sample and/or steps to reproduce?

[2021-03-23 21:16] oleksandrp1 commented on #138
Excuse me. I mixed 2 problems in one issue. The error with the "Edit" and "Stop" buttons appears in 2.4.3, 2.4.4, and 2.5.0 versions.
The error about breakpoints appears in 2.4.4 and 2.5.0. It does not appear in 2.4.3.

[2021-03-23 21:21] pamidur commented on #138
In 2.4.4 I changed (fixed) the way debug data is handled. It seems like something isn't working as expected.
Could you please create another issue and provide steps to reproduce and code sample (the method where you try to set breakpoint) if possible?

[2021-03-30 10:38] oleksandrp1 commented on #138
[Example.zip](https://github.com/pamidur/aspect-injector/files/6228339/Example.zip)
This is an attachment for this problem, but the bug about the breakpoint is not reproduced here. It is a simplified version of my project, but now I did not find what causes the breakpoint problem. I will investigate it later.

[2021-03-30 10:43] pamidur commented on #138
Thanks for your report! The sample code will help a lot!

[2021-03-30 10:54] oleksandrp1 commented on #138
The problem with the breakpoints is not reproduced now at all. Maybe cleaning the project and update of other packages solved the problem.

[2021-03-30 10:56] pamidur commented on #138
well, it potentially could be a weird extension of Edit&Continue bug

[2021-03-30 11:33] sergeprozorov opened #150 "JetBrains dotCover fails to gather coverage of tests with aspects Kind.Around"
Hello,

The issue might be related to #107, but the error message I see is different. Additionally, I provide a reliable way to reproduce it.
The scenario is following

Run the unit tests from AspectInjector.SampleApps with code coverage. You can see that code coverage report is empty.
![image](https://user-images.githubusercontent.com/14787310/112981006-e3ced800-915a-11eb-8a3d-d3d936e2cc2b.png)

[2021-03-30 12:35] pamidur commented on #150
ok, it seems that the dotCover modifies the assembly to gather the coverage results, which make sense.
The problem it seems that dotCover conflicts with AspectInjector somehow.

Thanks for reliable way get it

[2021-03-30 18:48] pamidur commented on #107
tracked in #150

[2021-03-30 18:48] #107 closed

[2021-03-31 07:37] sergeprozorov commented on #150
@pamidur Yes, the issue appears to be fixed. I have checked it on a couple of projects (on AspectInjector.SampleApps too). Code coverage works now in the both VS UI and dotCover CLI.
Thank you, great work!

[2021-03-31 07:37] #150 closed

[2021-03-31 07:44] pamidur commented on #150
this 2.5.1-pre1 should be stable despite it is pre-release, So I guess you might safely use it until full release is out. Possible issues are only with debug process:
- breakpoints fire in wrong places
- watch/locals doesn't show (some) local scope variables

I have experienced none of above tho.
Please report if find any bugs))

[2021-03-31 14:57] contractcooker commented on #125
Just wanted to report back. Went to try your suggestions today and everything is working as it should.

[2021-04-19 14:16] jerviscui commented on #119
Thank you very much for your work!

[2021-04-19 14:16] jerviscui commented on #132
Thank you very much for your work!

[2021-04-19 16:29] jerviscui commented on #145
[code]

Method.Invoke is low performance.

[2021-04-19 16:46] pamidur commented on #145
@jerviscui , we're working on #148 and discussing the same thing about performance there

[2021-04-20 01:23] jerviscui opened #152 "How about implements ConfigureAwait and Lazy?"
I've tried Fody add-in:

* ConfigureAwait.Fody
* Lazy.Fody

I think it is useful. How about implements that?
I think requires core level support it?

[2021-04-20 06:53] jerviscui opened #153 "How about Kind.Exception"
Now, if want to get Exception must be add a Kind.Around Advice.
It will create code like:

[code]

The rethrow Exception has waves method stack, just like:

at AspectInjectorTest.AsyncAroundTest.__a$_around_SyncTest_100663303_u(Object[] )
at AspectInjectorTest.ArroundAttribute.Handle()

Perhaps, let Kind.Exception Advice waves into target method,

[code]

and Task method，

[code]

Just a thought.

[2021-05-16 01:28] emisand commented on #127
@pamidur Is the AspectLoader or Propagation features already implemented?
This is the kind of feature I need to apply aspects to classes that implement an interface from a framework I'm working on.
I would need to implement some reflection filters to check if a method is within a class with some specific interfaces or attributes in order to apply the aspect.

[2021-05-20 10:22] pamidur commented on #127
Hi @emisand , unfortunately AspectLoader is not ready (not even close to ready as there is some technical difficulties)
There is another feature though that might be of some interest to you - Interface triggers which allows you to have some injection based on implemented interface - see here https://github.com/pamidur/aspect-injector/releases/tag/2.5.0

[2021-05-29 20:18] YuriyIvon commented on #149
Implemented SkipInjectionAttribute, the documentation has been updated accordingly

[2021-05-29 20:18] #149 closed

[2021-06-04 10:57] alexsanv opened #156 "aspect-injector autogenerated methods are displayed in stacktrace"
Probably this is a duplicate of #30, but I can reproduce this issue in 2.5.0

[code]

Stacktrace:
![image](https://user-images.githubusercontent.com/14252201/120791160-841af180-c53c-11eb-9007-821d7e620337.png)

[2021-06-11 16:56] pamidur commented on #156
Hi @alexsanv , sorry for delay and thanks for your report!
I'll take a look at it asap!

In any case it isn't always possible to hide parts of stacktrace, do you have any specific usecase where for example you parse stacktrace or is it just a matter of convenience?

[2021-06-11 17:01] pamidur commented on #153
Hi @jerviscui , thanks for the suggestion!
A few questions: is the only inconvenience with Kind.Around is the stacktrace? Or there some other concerns?

your suggestion is definitely doable , but sometimes ago there were talks about getting rid of everything except Kind.Around in favor of stability and robustness

[2021-06-11 17:02] pamidur commented on #153
omg, just realized you posted in April, I'm so sorry))
I'm not ignoring this project, I was just away

[2021-06-13 07:10] StefH opened #157 "Version 2.6.0-pre1 ?"
Can you please tell us the difference / release notes for this this preview ?

[2021-06-13 09:44] pamidur commented on #157
2.6.0 will bring updated type-lookup system. It should resolve issues like #138 and also ensure support for net5.0 and later.

Release notes are usually quite complete on Releases page so you can trust it

[2021-06-13 09:46] pamidur commented on #157
https://github.com/pamidur/aspect-injector/releases

[2021-06-13 15:11] alexsanv commented on #156
@pamidur, this mostly is a matter of convenience.
But there may be a valid use case, let me describe.

I implemented a helper library\nuget package for NUnit which uses aspect-injector to catch exceptions thrown in NUnit methods (e.g OneTimeSetup) wrapped around (Kind.Around) by aspect.

When you investigate a test failure, probably the first thing you look at is the exception's stacktrace. Having

[2021-06-13 16:56] pamidur commented on #156
Yes,  totally.
What was done before - we mark our methods with the attributes that prevent those methods appear in the stacktrace in a debugger (read - visual studio)

To hide them completely we'll need other approach, wild guess - either process the stacktrace and hide frames or probably properly rethrowing exceptions might work as well. Or maybe there are some other attributes to try. Anyway it

[2021-06-15 15:37] jerviscui commented on #153
It doesn't matter.
This project is so cool. Thank you!

[2021-06-17 10:21] pamidur commented on #153
Thank you!
If we want to implement Kind.Exception we need to answer these(and maybe more) questions:

- Can we choose exceptions to cover? How this is done in an aspect?
- Does this Kind allows to return a value as if method call was successful or exception is always re-thrown ?
- Do we re-throw original exception or advice is allowed to substitute exceptions?

[2021-06-17 10:39] pamidur commented on #152
We are talking about Lazy in separate PR.

As to ConfigureAwait - these things require instruction-level injection which isn't available for user code using aspect-injector now. I'd love to have this support, but we need to figure a way for it to work in user-code. Remember for aspect-injector "if aspect compiles - it works" is a must unlike fody.

So if you could come up with how to make instruct

[2021-06-17 10:41] pamidur commented on #157
I'll close this one, please feel free to reopen if needed!

[2021-06-17 10:41] #157 closed

[2021-06-18 07:48] jerviscui opened #158 "About UniversalWrapper"
The UniversalWrapper.cs, if used for a sync method and return Task:

[code]

Will thorw a convert exception in `(Task<T>)target(args)`.
`_asyncHandler` need to add a check conditions `methodInfo.GetCustomAttributes<AsyncStateMachineAttribute>().Any()` conditions.

And UniversalWrapper use `MethodBase.Invoke()` method, I think `Invoke()` function doesn't have good performance.

How about add a asyn

[2021-07-05 07:53] ioer2008 opened #159 "how can return value with Task"
var result = await ((Task<T>)target(args)).ConfigureAwait(false);
If you execute this sentence, you will report an error.

The official UniversalWrapper sample run exits directly, changes it to .net 5, and throws an exception "System.Exception".

Can you give an official example of using redis and task

[2021-07-05 08:19] pamidur commented on #159
Hi @ioer2008 , Could you please provide some more context to the issue? The aspect code and target code (where you apply aspect) will help a lot!

[2021-07-06 03:42] ioer2008 commented on #159
Sorry, the code is uploaded to https://github.com/ioer2008/OrleansDemo.

in /Grains/RedisCacheAttribute.cs,the result value can't set to redis.

[2021-07-06 12:56] pamidur commented on #159
I made a new version of Aspects.Cache so it should should work with your case:
[code]

[code]

[2021-07-06 13:07] pamidur commented on #158
Hi @jerviscui , we're currently working on more sophisticated version of Universal Wrapper here #148.

Apart of that I was long thinking about what you're suggesting - to make aspect compiler recognize and process async methods in different way. It would require some significant changes, so until then I guess upcoming version of #148 will do the trick

[2021-07-06 14:51] ioer2008 commented on #159
Thank you very much for your modification, but I added the above code to the file and still reported an error. Maybe it doesn't support Orleans.

https://github.com/ioer2008/OrleansDemo

[2021-07-06 15:06] pamidur commented on #159
Well I guess it doesn't directly support async methods, so if you want to cache one of them - additional development is required, you can refer here on how to do it https://github.com/pamidur/aspect-injector/tree/master/samples/src/Universal

[2021-07-11 03:32] #159 closed

[2021-07-11 10:19] KKacer opened #160 ".Net 5.0"
Hello,

Will you provide a version supporting .Net 5.0?
Upgraded my projects in a solution to .net 5.0 then seemed I wasn't able to debug
some assemblies there.
It was telling me all the time can't bind a break-point here and there, etc.

[2021-07-11 10:21] pamidur commented on #160
HI @KKacer , we did some work towards support the net5.0, could you please check 2.6.0-pre1 version?

[2021-07-11 20:25] KKacer commented on #160
Didn't notice your comment earlier,
Sure, will update here.

[2021-07-25 14:40] jerviscui opened #162 "Use caching for Delegates"
If Aspect around the method, it will generate code like:

[code]

The `new Func<>()` method will be exectued  each time for create Delegate.
How about use a static field cache Delegate,

[code]

Do you think it's worth it?

[2021-07-26 11:44] ziokuroi opened #163 "Is this a bug of execution's sequence?"
Some of example code:

        public static void Main(string[] args) {
            RedisHelper.Initialization(new CSRedisClient("127.0.0.1:6379,ssl=false,poolsize=8"));
            Console.WriteLine("Test Start!");
            Service.Test();
            Console.ReadKey();
        }

        [After]
        [Around]
        public async Task<string> Test() {
            Console.WriteLine("Test");

[2021-07-26 15:50] pamidur commented on #163
Hi @ziokuroi, thank you for interest in this project.
The behaviour you see is by design. Before and After aspects work in the deepest possible level,  as close as possible as original code. So Before will execute right before the original code, After will execute right after the original code. The Priority only applies within the kind of aspects. Priotiry for Around will be separate from priority

[2021-07-27 03:02] ziokuroi commented on #163
@pamidur
I wonder whether there is a option that can controll the Before and After aspects work in the deepest possible level or in the level where attributes on. If it doesn't exist, then this is my suggestion for a new version. 😄
But anyway, Thanks for your reply :)

[2021-07-27 03:59] pamidur commented on #163
It is controlled like this https://github.com/pamidur/aspect-injector/blob/5b809ec584bb794f63b4c193638efef49b1de2c7/src/AspectInjector.Core.Advice/Weavers/AdviceInlineWeaver.cs#L16

Values are hardcoded, but should easy to introduce some logic. Pull requests are welcome!

[2021-07-27 04:03] ziokuroi commented on #163
@pamidur
I found this maybe a bug of when using aspect on async methods
I add a test for non-async, and the sequence behavior is what i expect:

Test
Test2 around in
Test2
Test2 around out
**_Test around out
Test After_**
============
TestAsync around in
TestAsync
TestAsync2 around in
TestAsync2
TestAsync2 around out
**_TestAsync After
TestAsync around out_**

As you see, the non-async test, After

[2021-07-27 04:23] pamidur commented on #163
After in Sync and Async methods behave differently. After in async methods is put at latest stage of async execution. In other words - try to await the Task ( task= (Task)target(args)) in your Around aspect and see if it makes any difference.

I agree, this behavior isn't particularly clear and easy to understand. It is like that historically and for a reason that After advice should work the same

[2021-07-27 04:32] ziokuroi commented on #163
@pamidur
Okay, got it, thank you :)

[2021-07-27 04:32] #163 closed

[2021-08-06 08:32] pamidur commented on #160
@KKacer, Please let me know if it works for you

[2021-08-06 08:38] pamidur commented on #162
I like your idea! It looks doable, and will speed up execution especially on Around-heavy workloads.
for instance methods we will need instance properties
for static methods we will need static properies

[2021-08-10 08:22] #152 closed

[2021-08-10 13:09] marbel82 commented on #138
A similar problem: https://github.com/AvaloniaUI/Avalonia/issues/5456

[2021-08-10 13:16] pamidur commented on #138
Hi @marbel82 , have tried 2.6.0-pre1 version?

[2021-08-11 09:42] oleksandrp1 commented on #138
In 2.6.0-pre1 it is possible to debug the code and to go to highest rows in the code, but after changing the code it shows the message
![image](https://user-images.githubusercontent.com/23483761/129007228-9f248aa2-63d0-4416-8493-fad2ca5930ca.png)

[2021-08-11 09:48] pamidur commented on #138
@oleksandrp1 , could you please provide a code-sample (or project-sample) so we can reproduce it?

[2021-08-16 15:49] jerviscui commented on #156
#153

[2021-08-16 16:53] pamidur commented on #156
@jerviscui , yes it makes sense. With Kind.Exception it is up to user to decide how stack trace looks

[2021-08-30 07:29] oleksandrp1 commented on #138
[Example.zip](https://github.com/pamidur/aspect-injector/files/7074983/Example.zip)
Hi, now the message does not appear, but I found that if I add changes to the code during debugging then they will not be applied to the code during the debugging. Open WebRefactorPage.cs and make a breakpoint on string 23 and on string 25. Run debugging a test in TS09General.cs file. If you change the "a" variable

[2021-08-31 15:11] oleksandrp1 commented on #138
Thank you for your product!

[2021-09-08 08:01] JunkyXL86 commented on #138
I've got the same error trying to change code in a Xamarin.Forms 5.0.0.2012 App using Edit & Continue with Visual Studio 2022 Preview 3.1:
`CS7038	Failed to emit module 'XF.App': Changing the version of an assembly reference is not allowed during debugging: 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' changed version to '2.1.0.0'.`

[2021-09-10 07:31] marbel82 commented on #138
I found the cause in my case. In all projects I have set TargetFramework to `net5.0-windows`, but in one I had set `net.5.0`. When I changed in this latest project to `net5.0-windows`, the problem with inability to edit disappeared.

[2021-09-13 18:46] panosru commented on #125
I'm terribly sorry for not replying in time (lol, 1 year late...), I couldn't spend time on it due to various reasons, but today I tried it again from scratch and it works fine! I believe this issue can be closed :)

[2021-10-17 13:28] parand87 opened #164 "Source Not Available"
Hi,

I decorated my method with [LogCall] (as you mentioned in the sample), when I try to step into my method while debugging, I encounter "Source Not Available (Source information is missing from the debug information for this module)" error.

My project is a sample one with just AspectInjector installed (.Net Framework 4.7)

![image](https://user-images.githubusercontent.com/11311337/137629124-a

[2021-10-18 10:34] pamidur commented on #72
Will close this as the basic feature was done for c# and vb.net is rather dead

[2021-10-18 10:34] #72 closed

[2021-10-18 10:35] #55 closed

[2021-10-18 10:44] pamidur commented on #84
since cannot be safely exposed to user code - not gonna happen

[2021-10-18 10:44] #84 closed

[2021-10-18 10:54] pamidur commented on #162
moved to #137

[2021-10-18 10:54] #162 closed

[2021-10-18 11:09] #128 closed

[2021-10-18 11:14] pamidur commented on #126
Seem answered. Feel free to reopen any time1

[2021-10-18 11:16] pamidur commented on #119
Should be fixed now. Please feel free to reopen

[2021-10-18 11:17] pamidur commented on #94
see #166 for details

[2021-10-18 11:17] #94 closed

[2021-10-18 14:04] pamidur commented on #138
oh, I got it, it does mean that issue could be somewhere else, thanks @marbel82

[2021-10-20 08:01] pamidur commented on #164
Every release is available on nuget as a package,  so for testing you cat get it from there. https://www.nuget.org/packages/AspectInjector/2.6.1-pre1

If you'd like to build from sources,  you'll need to execute `git submodules init` after pulling sources since FluentIL is attached as submodule.

Please let me know if any of these works for you!

[2021-10-20 08:05] #164 closed, assigned to pamidur

[2021-11-11 14:03] oleksandrp1 opened #167 "AI FAIL. Aspect Injector processing has failed. See other errors"
Hi,
After update Visual Studio from 2019 to 2022, installing .Net 6.0 and adapting the project to the new versions I get the error during a build: "AI FAIL. Aspect Injector processing has failed. See other errors". No other errors appear.
ApsectInjector 2.6.0.
What additional information do you need?

[2021-11-11 17:26] oleksandrp1 commented on #167
The issue is not reproducible. Close the ticket.

[2021-11-11 17:26] #167 closed

[2021-11-11 21:18] pamidur commented on #167
Oh it was fast.
Thank you for report anyway!

[2021-12-25 06:22] fengqiaoyexia opened #169 "How to create a aspect with parameters ?"
Thank you for the library 。
I have a question about  how to create a aspect with parameters.
Code：
`
[Aspect(Scope.PerInstance)]
    [AttributeUsage(AttributeTargets.All)]
    [Injection(typeof(LogCallAttribute))]
    public class LogCallAttribute : Attribute
    {
        private LogLevel _logLevel;

        /// <summary>
        /// Constructor
        /// </summary>
        /// <param name="log

[2021-12-25 10:30] pamidur commented on #169
Hi @fengqiaoyexia ,
for this you'll have to split attribute from aspect like this:
[code]

[2021-12-25 13:05] fengqiaoyexia commented on #169
Oh！ So it can be！
I seem to know how to do it
I wll try

Thank you for your answer ~
Merry Christmas！

[2021-12-25 13:05] #169 closed

[2021-12-25 13:07] pamidur commented on #169
Thank you and Merry Christmas to you too @fengqiaoyexia !

[2021-12-29 14:30] El-Gor-do opened #170 "Dotcover code coverage fails with AspectInjector 2.6.1 but not with AspectInjector 2.6.0"
Create a solution with 2 projects - MyLibrary and MyLibrary.Tests - and create the following files:

MyLibrary\MyLibrary.csproj
[code]

MyLibrary\InjectBeforeAttribute.cs
[code]

MyLibrary\Helper.cs
[code]

MyLibrary.Tests\MyLibrary.Tests.csproj
[code]

MyLibrary.Tests\HelperTests.cs
[code]

Open a command prompt in the MyLibrary.Tests directory and run Dotcover using this command line:
[code]

Do

[2022-01-02 08:16] pamidur commented on #170
Hi @El-Gor-do , thanks for reporting, I 'll take a look shortly

[2022-01-05 11:57] Janek91 opened #171 "NullReferenceException during compilation"
That kind of exception is randomly thrown during compilation when I try to debug application. When I run only build - it compiles successfully. I need to make an irrelevant change in any .cs file and then it runs fine for a while.
``
AspectInjector|2.6.1 : error AI_ERR0: Processing failure: System.NullReferenceException: Object reference not set to an instance of an object. [PATH_TO_CSPROJ_FILE]

[2022-01-06 16:59] himanshukodwani opened #172 "Is there a way we can prevent a method from being executed through aspects?"
What I need is an aspect that will check if the current user has permission to execute the method, if not, then I just want this aspect to prevent the method from being executed without throwing an exception and just returns some default value if required.

[2022-01-09 10:57] pamidur commented on #172
Hi @himanshukodwani ,
you'd need something like
[code]

for more advanced scenarios you can take a look here https://github.com/pamidur/aspect-injector/blob/master/samples/UniversalWrapper/UniversalWrapper.cs

[2022-01-10 09:33] Janek91 commented on #171
[MobileAppAspect.cs.zip](https://github.com/pamidur/aspect-injector/files/7837854/MobileAppAspect.cs.zip)
- IDE: Visual Studio 2019
- .NET Standard 2.0/Xamarin
- I don't use ASP.NET

[2022-01-13 18:18] Meigs2 opened #173 "Build fails when creating aspects in VB.NET but not in C#"
I'm researching using aspect-injector in a large vb.net project, however attributes created in VB will not compile, but will in C# of the same project type.

Steps to reproduce:

1. Create 2 .Net Framework 4.7.2 console apps
1. Add ApsectInjector package to both
1. Add the following classes to the respective projects:

C#:
[code]

VB.NET:
[code]

The C# project will compile, but the VB.NET one wil

[2022-01-13 18:36] Meigs2 opened #174 "Cannot use aspect created in separate C# project in VB.NET project"
You can create a aspect in one C# library project A, then use it in another C# console app B. However, you cannot use the aspect made in A in a VB.NET console app C.

Steps to reproduce:

1. Create 3 .Net Framework 4.7.2 projects, one C# class library, one C# console app and a VB.NET console app.
1. Reference AspectInjector in all 3 apps
1. Add the following class to the C# class library:
[code]
4

[2022-01-16 10:13] pamidur commented on #174
Hi, @Meigs2 , thank you for the report, I'll take a look asap

[2022-01-16 10:13] pamidur commented on #173
Hi, @Meigs2 , thank you for the report, I'll take a look asap

[2022-01-16 10:21] pamidur commented on #171
It looks like Xamarin has some fake methods that have to body. I could fix it fast, if you could provide more complete example. It will take some time other wise

[2022-01-16 17:36] Meigs2 commented on #173
I've tried to debug this myself however I'm having issues getting to the seemingly suspect block of code with my VS setup, and the debugger launching many many times every time I build is rather annoying. Is there a way to speed this up/disable? Despite this, `InjectionReader.FindInjections` doesn't seem to throw anywhere when I debug and try to build a test project in VB.

[2022-01-16 18:16] pamidur commented on #173
That would help a lot if you can debug it. I still cannot find time to write proper doc on how to, but in short:

1. Clone this repo
2. init submodule fluent-il
3. Right click on ApsectInjector project -> build (in DEBUG). Just this project so no test projects debug pop up appears
4. Leave this VS window open
5. Open your solution in other VS instance
6. Modify (add to) your csproj/vbproj like
[co

[2022-01-21 16:24] JasonBock opened #175 "Setting `<DebugType>` to `Embedded` Prevents Debugging and Code Coverage"
Note: I did this using different permutations of .NET 5 and .NET 6 target frameworks along with the 2.5.0, 2.6.0, and 2.6.1 versions of AspectInjector, and I believe they all have the same behavior.

Here's the setup. First, make a class library that references AspectInjector (call it `AspectInjectorInvestigation`). Make sure this setting is in the .csproj file:

[code]

Add the `LogCallAttribute`

[2022-01-21 16:35] pamidur commented on #175
Thank you @JasonBock . it is indeed interesting case. AspectInjector only works with Portable Mode so if there is embedded pdb it will modify the code but won't modify the debug Symbols.

I'll rename this issue to track this feature.

[2022-01-21 16:41] JasonBock commented on #175
That makes sense. If that debug mode isn't supported and that's documented, that works (and again, we usually don't set that mode anyway, so removing it was fine by us). But I get why you want to track this to see if it is something you can potentially support in the future.

[2022-01-21 21:41] #170 closed

[2022-01-21 22:00] pamidur commented on #171
Hey @Janek91 , i was trying reproduce this issue without success, could you please give me more complete example?

[2022-01-21 22:09] pamidur commented on #138
Seems fixed in 2.7.0

[2022-01-21 22:09] #138 closed

[2022-01-24 00:18] Meigs2 opened #176 ".Net Framework 4.7.2 builds failing on latest Nuget package version 2.7.1"
Building a .Net Framework 4.7.2 app on 2.7.1 fails on the latest nuget package version with the following output:

[code]

Same project does not fail on 2.6.1.

[2022-01-24 00:32] Meigs2 commented on #173
I've finally gotten around to attempting to debug these issues, however it seems that I cant get attributes to attach when referencing the AspectInjector broker project, but will attach when using the nuget package. Do I need to target a dll directly to get AspectInjector to add aspects?

[2022-01-24 10:42] pamidur commented on #176
@Meigs2 , could you please provide a sample project where this happens? I could not reproduce it locally

[2022-01-24 11:11] pamidur commented on #176
Alright, I got it. Trimming executable has disabled COM support needed for native PDBs what you use by default with old-style csproj files on windows.

[2022-01-24 11:31] pamidur commented on #176
should be fixed 2.7.2

[2022-01-24 11:31] #176 closed

[2022-01-26 13:59] selcukkutuk opened #177 "Aspect attributes are not triggered on interface methods"
First of all, thank you very much for this wonderful library. I have a problem in the example usage scenario below.
When I use attribute in interface method it is **not triggered**. Is there a situation that prevents this in terms of design or is there something that I have overlooked?
Thank you very much for your answer in advance.

[code]

[2022-01-27 12:39] selcukkutuk commented on #177
Hi @pamidur , First of all, thank you very much for your answer. I would appreciate if you could explain with an example what kind of filter I should apply in the "you may need to apply additional filters" section.

[2022-01-27 15:42] pamidur commented on #177
The easiest would be
[code]

the other way is to request
[code]
and then check in runtime if method belongs to the interface

[2022-01-27 15:55] selcukkutuk commented on #177
@pamidur Thank you very much for your support.👍🏻

[2022-02-03 19:40] jeremyj01 opened #179 "AspectCodeFixProvider and MixinCodeProvider are throwing FileNotFoundException in VS 2022"
**Environment (please complete the following information):**
 - OS: Windows 10
 - Framework: net6.0
 - Type of application:  webapp
 - Version of AspectInjector: 2.7.2
 - IDE: Visual Studio 2022 (64-bit), Version 17.0.5

** Describe the bug **
The `AspectCodeFixProvider` and the `MixinCodeFixProvider` are throwing a `System.IO.FileNotFoundException`.

**To Reproduce**
Open a project using Visual S

[2022-02-04 13:00] pamidur commented on #179
Hi @jeremyj01 , thanks for report, will look at shortly!

[2022-02-04 16:23] jeremyj01 commented on #179
Just a side note...this is one of my FAVORITE .net packages!

[2022-02-04 19:28] pamidur commented on #179
@jeremyj01, thank you! It means much!

[2022-02-06 20:19] pamidur commented on #179
Hi @jeremyj01 , I tried to reproduce this bug without success. Create aspect with Around advice and two classes using it within the same file. No errors.
I tend to believe (deducting from stacktrace you sent) that it was a Visual Studio glitch. In stackstace it mentions AspectInjector.Rules v2.7.0 though you're using 2.7.2 . Restarting VS should help.

If it doesn't, please send me a minimal file

[2022-02-09 17:11] jeremyj01 commented on #179
I back checked myself and realized I never merged my updates to using 2.7.2.  I'll take care of that shortly and report back.  Sorry if I raised an unnecessary alarm.